workflow/AI Marketing Team.json
{
  "name": "AI Marketing Team",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1504,
        -720
      ],
      "id": "b3c35006-b5a5-464d-9f27-860af16ed0a8",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 17
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1136,
        400
      ],
      "id": "892d2c0c-6f2c-44a2-92ef-e07c529bb5aa",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Extract the text field from each item\nconst texts = items.map(item => item.json.title);\n\n// Concatenate them (adjust the separator as needed)\nconst concatenated = texts.join(\", \");\n\n// Return a single item with the concatenated text\nreturn [{ json: { mergedText: concatenated } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        464
      ],
      "id": "1114b6fb-756e-4cf6-84b6-d953e606f7ab",
      "name": "Sheet Process"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -656,
        640
      ],
      "id": "ef64b1aa-f17a-49a7-b99d-afabf2d066be",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "V0OoELb6G7wEUy2t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "aefd1ab6-29fc-46a8-b817-cf86d62d5e4d",
              "name": "characters",
              "value": "=[\"Donald Trump\", \"Vladimir Putin\", \"Narendra Modi\", \"Emmanuel Macron\"]",
              "type": "array"
            },
            {
              "id": "10306eb9-43d8-4200-8c04-0ba31682e854",
              "name": "title",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        464
      ],
      "id": "515ee493-18c4-4c3b-9214-f9172c164d2e",
      "name": "Set Characters"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        624
      ],
      "id": "2d9ec6d4-2f1c-488c-ab94-85d6a063039d",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "V0OoELb6G7wEUy2t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -1104,
        1104
      ],
      "id": "ab0c429e-ef73-4384-9e37-e860338df65b",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "V0OoELb6G7wEUy2t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an idea for a new video to produce.\n\nHere are the ideas that we've already used: {{ $json.mergedText }}\n\nGive me one new, super viral idea, present it as 5-7 words:",
        "options": {
          "systemMessage": "=You're an expert in viral content creation with 5 years of experience.\n\nYou've created viral short videos that have gotten 10 billion views in total.\n\nYou specilize in short AI-generated videos with epic scenes, with well-known countries presidents and cultural things that the majority of people knows.\n\nExamples of videos that you did:\n- Countries as presidents bodybuilders💪🏻 (showing scenes how Donald Trump is working out with Arnold Schwarznegger, then how Putin works out with Arnold, then how French president and so on)\n- Countries as presidents rockstars🤘 (showing major presidents one by one on the scene as rock artists)\n- Countries as presidents Kaiju💀 (showing presidents as huge giants walking in water and showing their power)\n- And many more in the same style\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -624,
        464
      ],
      "id": "9bc996c5-e5a9-4724-8a7c-8d6c83944b8d",
      "name": "Idea Generator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Character: {{ $json.characters }}\nTitle: {{ $('Set Characters').item.json.title }}",
        "options": {
          "systemMessage": "=## Overview\nYou are an expert image prompt generator specializing in crafting highly detailed, captivating prompts for advanced image models like Flux. Your goal is to generate visually engaging, epic scenes featuring people transformed into iconic roles or cultural figures that resonate widely.\n\n## Instructions\nDescribe in detail the man's appearance, including the skin color, notable facial expressions, build, and distinctive features of the face, body and hair.\nBut DON'T MENTION THEIR NAME OR ANYTHING THAT MIGHT HELP IDENTIFY HIM.\nThe image generation model should understand fully how the person's face looks like, even without knowing the name, so describe it well.\nMake the body of the man if transformed into BODYBUILDER.\nSpecify clothing, accessories, and elements of style that authentically reflect the specified role, ensuring they fit naturally.\nDetail a complementary background and environment that vividly reinforce the theme, enhancing visual coherence.\nUse precise, imaginative descriptions to maximize visual appeal and prompt effectiveness.\nFull body shot, slightly low angle to emphasize power and stature.\nThe man is centered in frame.\nPower walk straight toward the camera.\nNEVER OUTPUT QUOTATION MARKS (\"\") OR NEWLINES (\\n).\n\n## Example\nInput:\nCharacter: Donald Trump\nTitle: Countries as presidents movie stars\n\nOutput:\nFull-height shot of a man with an ultra steroid BODYBUILDER type body. His face is american male, mid-70s, tall, golden comb-over hair, orange-tanned skin, intense gaze, distinctive eyebrows. He is in the Iron man suit (while his head is in the helmet, but the face is clear). He is centered in frame. Power walk straight toward the camera. Full body shot, slightly low angle to emphasize power and stature. Around him scene of New York in Avengers 1.\n\n## Important\nNEVER EVER OUTPUT QUOTATION MARKS (\"\") OR NEWLINES (\\n)."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        64,
        464
      ],
      "id": "db1b7f22-8d8a-436c-bf24-39879cfc4e6d",
      "name": "Image Prompt"
    },
    {
      "parameters": {
        "content": "# Generate a New Video Idea",
        "height": 500,
        "width": 1180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        320
      ],
      "typeVersion": 1,
      "id": "60043dd6-51a3-48f2-8f4e-2805465ca914",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "content": "# Generate Images",
        "height": 500,
        "width": 980,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        304
      ],
      "typeVersion": 1,
      "id": "99bd7eed-eacf-40b2-9231-d22fdd266356",
      "name": "Sticky Note8"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3f7846c8-2c7f-440f-8245-71bf158ea311",
              "name": "prompt",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        464
      ],
      "id": "9d0ba677-2fb5-42f8-bc20-339a3ea332bb",
      "name": "Set Prompts 1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "4a2cb79eb0257872db58af72838dc5d56a7f60bbd036659c1a7a3aaa9b8c79d1"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.prompt }}\",\n        \"width\": 765, \n        \"height\": 1360\n    } \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        544,
        464
      ],
      "id": "d9b21da3-7d72-4c2e-ac2a-706c87053feb",
      "name": "Generate Images"
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        704,
        464
      ],
      "id": "26751623-68a6-4162-9044-cc3d934d9b60",
      "name": "Wait 1",
      "webhookId": "2d49d579-7afd-4491-ba4c-10b145ab716c",
      "disabled": true
    },
    {
      "parameters": {
        "fieldToSplitOut": "characters",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -144,
        464
      ],
      "id": "e46d8fbc-f67a-43f2-9fd8-ff5d28743950",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "4a2cb79eb0257872db58af72838dc5d56a7f60bbd036659c1a7a3aaa9b8c79d1"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        912,
        592
      ],
      "id": "dfdfb325-d142-4beb-bb91-19ac2fe0747d",
      "name": "Get Images"
    },
    {
      "parameters": {
        "content": "# Generate Videos",
        "height": 400,
        "width": 840,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1184,
        848
      ],
      "typeVersion": 1,
      "id": "78becc44-52dd-488e-b2ef-8ca53ec56aeb",
      "name": "Sticky Note9"
    },
    {
      "parameters": {
        "content": "# Render: Videos + Text + Audio",
        "height": 400,
        "width": 720,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        848
      ],
      "typeVersion": 1,
      "id": "cfdf5eee-a1ba-49d9-9213-97233bbf340d",
      "name": "Sticky Note10"
    },
    {
      "parameters": {
        "content": "# Publish the Final Video",
        "height": 400,
        "width": 560,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        448,
        848
      ],
      "typeVersion": 1,
      "id": "12dfefa4-b7bb-475a-be5d-8cc039c97b01",
      "name": "Sticky Note11"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dev.runwayml.com/v1/image_to_video",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_6b870d43347eef81daff48997fcd89d5b11681f5030ba7cff1d4948e8e37c2f5fb15a2b662d5d032dde5edb7b01837184150ac67bbdfd54b16861cc38233264d"
            },
            {
              "name": "X-Runway-Version",
              "value": "2024-11-06"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "promptImage",
              "value": "={{ $('Get Images').item.json.data.output.image_url }}"
            },
            {
              "name": "seed",
              "value": "4294967295"
            },
            {
              "name": "model",
              "value": "gen4_turbo"
            },
            {
              "name": "promptText",
              "value": "={{ $json.output }}"
            },
            {
              "name": "duration",
              "value": "5"
            },
            {
              "name": "ratio",
              "value": "720:1280"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -816,
        944
      ],
      "id": "5b4f37b4-442c-4c1d-a1ff-2be8f51eb43b",
      "name": "Generate Videos"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Title: {{ $('Set Characters').item.json.title }}\nImage prompt: {{ $('Set Prompts 1').item.json.prompt }}",
        "options": {
          "systemMessage": "=You're a helpful assistant.\n\nYour goal is to help me prepare a prompt for the video generator.\n\nI'll give you a prompt for the image generator, you will need to tweak it a little bit:\n- length of the prompt should be not more than 100 words\n- make the man WALK REALLY FAST\n- NEVER MENTION THE NAME OF THE PERSON DESCRIBED\n- NEVER MENTION THAT THE PERSON IS WELL KNOWN\n\nExample output:\nFull-height video of a walking man with an ultra steroid BODYBUILDER type body. His face is american male, mid-70s, tall, golden comb-over hair, orange-tanned skin, intense gaze, distinctive eyebrows. He is in the Iron man suit (while his face is without the helmet). He is centered in frame. He performs a power walk straight toward the camera. HE WALKS REALLY FAST. Full body video, slightly low angle to emphasize power and stature. Around him scene of New York in Avengers 1."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -1136,
        944
      ],
      "id": "c26f0144-b48c-426a-8b2f-cfb3e9dfbc50",
      "name": "Video Prompt"
    },
    {
      "parameters": {
        "amount": 360
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -624,
        944
      ],
      "id": "0f3ba55c-859b-4c70-b51c-ce4d4e6a4998",
      "name": "Wait 2",
      "webhookId": "62cdce3a-7ca4-477e-9d89-28a0f451b43c"
    },
    {
      "parameters": {
        "url": "=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_80008a656368baf23ede4e19e99a542493a76f27f5a1b9b2f965c70efffe95f9b614fb87e724ea22ef53cf952b82ecbc79ea4a7bba49c5ce8129828149b3f728"
            },
            {
              "name": "X-Runway-Version",
              "value": "2024-11-06"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        944
      ],
      "id": "3334fa05-3e98-4e30-bf43-0ea9e04b2c5a",
      "name": "Get Videos"
    },
    {
      "parameters": {
        "jsCode": "// N8n Code Node to extract URLs from output arrays and combine them into a single array\n\n// This code assumes your input JSON is in items[0].json or is multiple items\n// Determine data source format\nlet inputArray;\n\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  // If we have a single item containing our array\n  inputArray = items[0].json;\n} else if (items.length > 1) {\n  // If we already have multiple items, each containing part of our data\n  inputArray = items.map(item => item.json || item);\n} else {\n  throw new Error('Input structure not recognized. Please check your data format.');\n}\n\n// Create a single array to hold all URLs\nconst urlArray = [];\n\n// Process each item in the input array\nfor (const item of inputArray) {\n  // Get the data object\n  const data = item;\n  \n  // Check if the item has an output array\n  if (data.output && Array.isArray(data.output)) {\n    // For each URL in the output array, add to our URL array\n    for (const url of data.output) {\n      // You can choose to add just the URL or include metadata\n      urlArray.push({\n        url: url,\n        sourceId: data.id,\n        createdAt: data.createdAt\n      });\n    }\n  }\n}\n\n// Return a single item containing the array of all URLs\nreturn [{\n  json: {\n    urls: urlArray\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        944
      ],
      "id": "85262f41-d662-4fd0-93b5-0d36c6286e0a",
      "name": "Split Out Parts"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 16c587688134479a9be056bd8089e9decf4824975e534d4588359d2aa00952bad16dc8f918150f582432a1d7b90532e6"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template_id\": \"e990409c-5317-458a-8894-1d58d9e44d1f\",\n  \"modifications\": {\n    \"Video-1.source\": \"{{ $json.urls[0].url }}\",\n    \"Video-2.source\": \"{{ $json.urls[1].url }}\",\n    \"Video-3.source\": \"{{ $json.urls[2].url }}\",\n    \"Video-4.source\": \"{{ $json.urls[3].url }}\",\n    \"Text-1.text\": \"{{ $('Idea Generator').first().json.output}}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -64,
        944
      ],
      "id": "3c73d9d7-9e0b-4830-bb18-a680f03bb7ba",
      "name": "Render Video",
      "executeOnce": false
    },
    {
      "parameters": {
        "amount": 120
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        96,
        944
      ],
      "id": "a79825f0-b6ed-43f6-86d7-1e92c160d508",
      "name": "Wait 3",
      "webhookId": "ce0c9d98-2e9a-4d47-8be3-ec95d102a4d1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        256,
        944
      ],
      "id": "fcec46ce-ea1b-41be-9837-0dd29c0fd452",
      "name": "Download Video"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "title": "={{ $('Idea Generator').first().json.output}}",
        "regionCode": "US",
        "categoryId": "1",
        "options": {
          "privacyStatus": "unlisted"
        }
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        464,
        944
      ],
      "id": "d32a646f-a3b6-45e0-bfb7-5a6166c228e5",
      "name": "Upload Video"
    },
    {
      "parameters": {
        "sendTo": "oleg@evolva.ai",
        "subject": "=New Short Processed: {{ $('Idea Generator').first().json.output}}",
        "emailType": "text",
        "message": "=Oleg,\n\nA new short has been created and is awaiting your approval.\n\nIt is called \"{{ $('Idea Generator').first().json.output}}\".\n\nYou can view it here: {{ $json.youtubeLink }}\n\nCheers!",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        784,
        944
      ],
      "id": "b0757a5c-e91b-402b-9cc1-7bcee4918f30",
      "name": "Notification",
      "webhookId": "020380da-2190-4dd2-828a-26554de22c5b"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1J_bgTio5aBowvcIyKpfJvTROMEg9JLcfaOt34kRCD9g",
          "mode": "list",
          "cachedResultName": "Short Videos System",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J_bgTio5aBowvcIyKpfJvTROMEg9JLcfaOt34kRCD9g/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1J_bgTio5aBowvcIyKpfJvTROMEg9JLcfaOt34kRCD9g/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "videoLink": "={{ $('Render Video').item.json.url }}",
            "title": "={{ $('Idea Generator').first().json.output}}",
            "status": "review",
            "youtubeLink": "= https://www.youtube.com/shorts/{{ $json.uploadId }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "title",
              "displayName": "title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "videoLink",
              "displayName": "videoLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "youtubeLink",
              "displayName": "youtubeLink",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        624,
        944
      ],
      "id": "1f973d6e-ef01-4f65-ab8c-a31e76abce65",
      "name": "Add Record",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5hiM0ufyRmicUU2i",
          "name": "Google Sheets- Nabin"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2480,
        656
      ],
      "id": "a9a78d45-fc71-45dc-9751-fcfbf06334fd",
      "name": "GPT 4.1",
      "credentials": {
        "openRouterApi": {
          "id": "Ep3ZUT0sgi8W8MOJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "name": "createImage",
        "description": "Call this tool to create an image. ",
        "workflowId": {
          "__rl": true,
          "value": "lsZTPeThp35cB3Hs",
          "mode": "list",
          "cachedResultName": "Create Image"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "imagePrompt": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imagePrompt', `The image requested by the user`, 'string') }}",
            "imageTitle": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('imageTitle', `The title of the image. Should be no more than 4 words.`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "imageTitle",
              "displayName": "imageTitle",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "imagePrompt",
              "displayName": "imagePrompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatID",
              "displayName": "chatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        3440,
        656
      ],
      "id": "a4584ebd-011c-4aa0-85eb-f95453f6fb2f",
      "name": "Create Image"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3824,
        304
      ],
      "id": "b0c7f3f2-d5e7-4350-8952-8797159230d4",
      "name": "Telegram",
      "webhookId": "fbdb3bd7-490b-4d3e-961e-e2d398294649"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        2768,
        656
      ],
      "id": "18b5bc70-f20e-4d32-bf9a-9eac9c0d9e1d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "name": "editImage",
        "description": "Call this tool to edit an image.",
        "workflowId": {
          "__rl": true,
          "value": "nMBpMe21l4gDEjOI",
          "mode": "list",
          "cachedResultName": "Edit Image"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "image": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The title of the image the user wants to edit`, 'string') }}",
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
            "request": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('request', `The edit the user wants to make to the image`, 'string') }}",
            "pictureID": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('pictureID', `The ID of the image to edit`, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "request",
              "displayName": "request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatID",
              "displayName": "chatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "pictureID",
              "displayName": "pictureID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        3600,
        656
      ],
      "id": "1397755f-464a-4e32-8cd5-de7cf8af6a74",
      "name": "Edit Image"
    },
    {
      "parameters": {
        "name": "searchImages",
        "description": "Call this tool to search the image database.",
        "workflowId": {
          "__rl": true,
          "value": "zDYAKGCIEChJa1JH",
          "mode": "list",
          "cachedResultName": "Search Images"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "intent": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('intent', `The intent of the user. This can either be \"Get\" or \"Edit\"`, 'string') }}",
            "image": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('image', `The image title`, 'string') }}",
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "intent",
              "displayName": "intent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "image",
              "displayName": "image",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "chatID",
              "displayName": "chatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        3840,
        656
      ],
      "id": "756c57f4-825c-4569-9af1-6e7452bf6492",
      "name": "Search Images"
    },
    {
      "parameters": {
        "name": "blogPost",
        "description": "Call this tool to create a blog post using a topic and a target audience.",
        "workflowId": {
          "__rl": true,
          "value": "sS2JMp5z7YiqtJpa",
          "mode": "list",
          "cachedResultName": "Blog Post"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "blogTopic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('blogTopic', `The topic of the blog.`, 'string') }}",
            "targetAudience": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('targetAudience', `The target audience for the blog.`, 'string') }}",
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "blogTopic",
              "displayName": "blogTopic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "targetAudience",
              "displayName": "targetAudience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chatID",
              "displayName": "chatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        3264,
        656
      ],
      "id": "c0b8abce-609b-41ec-b510-acaf4122cf28",
      "name": "Blog Post"
    },
    {
      "parameters": {
        "content": "# Marketing Team",
        "height": 400,
        "width": 460
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3264,
        144
      ],
      "id": "18af3935-80f1-46ce-9065-7fc20621dc1e",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "name": "linkedinPost",
        "description": "Call this tool to create a LinkedIn post using a topic and a target audience.",
        "workflowId": {
          "__rl": true,
          "value": "RgUBWsswXoQsX2tI",
          "mode": "list",
          "cachedResultName": "LinkedIn Post"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "postTopic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('postTopic', `The topic of the LinkedIn post`, 'string') }}",
            "targetAudience": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('targetAudience', `The target audience of the LinkedIn post`, 'string') }}",
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "postTopic",
              "displayName": "postTopic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "targetAudience",
              "displayName": "targetAudience",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chatID",
              "displayName": "chatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        3104,
        656
      ],
      "id": "e2a96bf2-2807-46d8-81f1-000630d9fb05",
      "name": "LinkedIn Post"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe7ecc99-e1e8-4a5e-bdd6-6fce9757b234",
              "name": "text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6d3ca306-a14b-444e-968f-49b1d72d2ded",
      "name": "Set 'Text'",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2976,
        384
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "8cd0cf06-f4a7-4944-8f98-49f13fdb6ab0",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2896,
        224
      ],
      "webhookId": "c0b376b1-7b63-41b6-8063-0b3096b8333d"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "665f021b-5ecb-4d32-af06-d62d37bc0094",
      "name": "Transcribe Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.6,
      "position": [
        3056,
        224
      ],
      "credentials": {
        "openAiApi": {
          "id": "V0OoELb6G7wEUy2t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8c844924-b2ed-48b0-935c-c66a8fd0c778",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Text"
            }
          ]
        },
        "options": {}
      },
      "id": "f25476ec-c096-496c-8d20-f37f911b7f7d",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2640,
        304
      ]
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "cf6190dd-f566-48b1-8bee-cb1742da7411",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        2496,
        304
      ],
      "webhookId": "99eab1a0-569d-4f0f-a49e-578a02abfe63"
    },
    {
      "parameters": {
        "content": "# Trigger\n",
        "height": 400,
        "width": 360,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2448,
        144
      ],
      "id": "f792d84c-935f-478d-9f6f-5924f87f7e87",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Content Creation",
        "height": 220,
        "width": 480,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2896,
        576
      ],
      "id": "d8eaa534-ecd3-4842-a318-0a138dd7618c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Image Creation",
        "height": 220,
        "width": 320,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3408,
        576
      ],
      "id": "c2584d63-416b-4292-abf9-4f6f3e8d69a5",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "# Image Database",
        "height": 220,
        "width": 300,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3744,
        576
      ],
      "id": "aa8a7b8b-792c-4cdb-a0e1-508654e8471d",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "# Response\n\n",
        "height": 400,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3744,
        144
      ],
      "id": "85b1edf5-8b99-4a94-942f-4c5f052d79b3",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "# Brain\n\n",
        "height": 220,
        "width": 440,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2448,
        576
      ],
      "id": "0a63b4c5-cb01-4fb3-bd3d-a673fbd80e87",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "name": "video",
        "description": "Call this tool to create a video.",
        "workflowId": {
          "__rl": true,
          "value": "7HwL0nnjhjdXJ3FY",
          "mode": "list",
          "cachedResultName": "Faceless Video"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "videoTopic": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('videoTopic', `The topic of the video`, 'string') }}",
            "chatID": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "videoTopic",
              "displayName": "videoTopic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "chatID",
              "displayName": "chatID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        2944,
        656
      ],
      "id": "790a3f23-c741-453a-9fbe-090072794a8e",
      "name": "Video"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a marketing team AI agent. Your job is to help the user create and edit images based on the request, or create content.\n\n## Tools\ncreateImage - Use this to create an image. Send the requested image prompt to this tool.\neditImage - Use this to edit an image. The user might also say \"make\" rather than \"edit\".\nImage Database - Use this to search the image database. \nblogPost - Use this to create a blog post.\nlinkedinPost - Use this to create a LinkedIn post.\nvideo - Use this tool to create a video.\nThink - Use this if you need help making a decision.\n\n## Instructions\n- If the user asks to 'edit that image' or 'make that...', this indicates they want to edit the last image in the database, the most recent one.\n- If the user requests a blog post or LinkedIn post, use the \"blogPost\" or \"linkedinPost\" tool and output: \"Here's that post you requested. Hope you enjoy it.\"\n\n## Output\n- Make sure to return the image link as a clickable link\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3360,
        304
      ],
      "id": "d286209d-8bd2-4cd4-94f8-16d51f01c633",
      "name": "Marketing Team Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        2624,
        656
      ],
      "id": "3cd34901-eb6f-4803-9ff6-0e998a839147",
      "name": "Think"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web. ",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user is searching for. "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        2848,
        1264
      ],
      "id": "a956fe0f-8e56-476e-9b08-5dcfdd74af8b",
      "name": "Tavily"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2992,
        1264
      ],
      "id": "da8a0a63-2f1c-43aa-a888-c0ed864a6a41",
      "name": "GPT_4.1",
      "credentials": {
        "openRouterApi": {
          "id": "Ep3ZUT0sgi8W8MOJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Blog Post: \n{{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent that transforms blog posts into visual prompt descriptions for generating graphic marketing materials. These visuals are designed to be paired with the post, helping communicate the message in a visually engaging, brand-aligned way.\n\n## Objective:\n- Read and analyze the given blog post.\n- Identify the main message, insight, or takeaway from the post.\n- Create a clear and compelling graphic prompt that can be used with a text-to-image generator.\n- The result should be a marketing-style graphic — not a literal scene or hyperrealistic photo — that:\n1) Visually supports or illustrates the key idea of the post\n2) Looks appropriate for use in a professional LinkedIn feed\n3) Feels polished, modern, and engaging\n\n## Output Instructions:\n- Output two fields: \n1) title (2-4 words) \n2) prompt\n- Output only the final image prompt. Do not output quotation marks.\n- Do not repeat or rephrase the blog post.\n- Do not add any explanations or extra content — just the image prompt.\n- Never leave things blank like \"Header area reserved for customizable callout text\"\n- Output numeric stats when available in the original post\n\n## Style Guidelines:\n- Think like a brand designer or marketing creative.\n- Visuals may include: text, charts, icons, abstract shapes, overlays, modern illustrations, motion-like effects, bold typography elements (described, not rendered), or metaphorical concepts.\n- You can mention layout suggestions (e.g., \"split screen design,\" \"header with bold title and subtle background illustration\").\n- Assume the output will be generated using AI image tools — your prompt should guide those tools effectively.\n\n## Example Prompt Format:\nA modern flat-style graphic showing a human brain connected to mechanical gears, representing the fusion of AI and automation. Minimalist background, soft gradients, clean sans-serif text placement space at the top.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        3280,
        976
      ],
      "id": "420b5ca0-f681-480e-8d04-a123631e9732",
      "name": "Image Prompt Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output.prompt.replace(/\"/g, '') }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3712,
        976
      ],
      "id": "49fdcb2c-e236-4b36-be78-85ab487625a2",
      "name": "Generate Image"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3920,
        976
      ],
      "id": "76a7be9a-f443-40c6-a65f-48ede6e70e50",
      "name": "Convert to Binary"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "blogTopic"
            },
            {
              "name": "targetAudience"
            },
            {
              "name": "chatID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        2576,
        976
      ],
      "id": "88655c29-0d9d-40c2-81b6-5de06b972665",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic of Blog: {{ $json.blogTopic }}\n\nTarget Audience: {{ $json.targetAudience }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent specialized in creating professional, educational, and engaging blog articles based on any topic provided by the user.\n\n## Objectives:\nAlways begin by conducting a real-time search using the Tavily tool to gather the most accurate, up-to-date information on the topic. The blog article should be written to appeal to the provided target audience.\n\nBased on your research, generate a well-structured blog post that:\n- Starts with an engaging and informative introduction that sets up the importance of the topic\n- Maintains a professional, clear, and easy-to-read tone\n- Is educational, insightful, and provides depth\n- Uses headers, subheaders, and paragraphs to create good readability\n- Incorporates real data, examples, or case studies, properly attributing sources (e.g., “according to [source]”)\n- Light on emojis (use only if highly relevant and minimal)\n- Includes a natural conclusion that summarizes key takeaways\n- (Optional but encouraged) Suggests next steps for the reader, such as related articles, resources, or actionable advice\n\n## Output Instructions:\n- Your ONLY output should be the final blog article text.\n- Do not include explanations, notes, or anything beyond the blog content itself.\n\n## Example Workflow:\n1) Receive a topic (e.g., “The ROI of warehouse automation”)\n2) Use Tavily to search and gather recent information, studies, or examples\n3) Draft a blog post using that research\n4) Format it with an engaging intro, structured sections, source citations, and a natural conclusion"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2832,
        976
      ],
      "id": "934602ea-d44a-467f-a1ba-f0022e94ff02",
      "name": "Blog Post Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0",
          "mode": "list",
          "cachedResultName": "Marketing Team Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Request": "={{ $('When Executed by Another Workflow').item.json.blogTopic }} for {{ $('When Executed by Another Workflow').item.json.targetAudience }}",
            "ID": "={{ $json.id }}",
            "Link": "={{ $json.webViewLink }}",
            "Post": "={{ $('Blog Post Agent').item.json.output }}",
            "Title": "={{ $('Image Prompt Agent').item.json.output.title }}",
            "Type": "Post"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request",
              "displayName": "Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        4480,
        1136
      ],
      "id": "f1c8e2de-5f53-4080-8e6f-d6264204576a",
      "name": "Image Log",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5hiM0ufyRmicUU2i",
          "name": "Google Sheets- Nabin"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"<2-4 word creative title for the image>\",\n  \"prompt\": \"<full detailed image generation prompt>\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        3376,
        1264
      ],
      "id": "90099a48-40a6-4eb4-9d55-f76e5a579b67",
      "name": "Image & Title"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "text": "={{ $('Blog Post Agent').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4480,
        848
      ],
      "id": "e8fa0515-8979-4c52-aee9-f165147b9e40",
      "name": "Send Blog",
      "webhookId": "94fa70af-f2fc-4c05-8fa1-d9f55637485f"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4256,
        848
      ],
      "id": "c7102359-9bed-44b3-b836-adaad79413c3",
      "name": "Send Photo",
      "webhookId": "8fcbda9c-8396-41f7-8f2d-39e4ae4337c7"
    },
    {
      "parameters": {
        "name": "={{ $('Image Prompt Agent').item.json.output.title }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy",
          "mode": "list",
          "cachedResultName": "AI Image Generation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4256,
        1136
      ],
      "id": "12cb373b-dc06-43e2-ba84-58627677d0d0",
      "name": "Upload"
    },
    {
      "parameters": {
        "content": "## Tool & Model",
        "height": 240,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2768,
        1168
      ],
      "id": "c4f70f0b-2987-44fb-b86d-46de049a301f",
      "name": "Sticky Note12"
    },
    {
      "parameters": {
        "content": "## Structured Output",
        "height": 240,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3248,
        1168
      ],
      "id": "916a18e6-2ad1-41f6-b0c7-ee7527a2f39f",
      "name": "Sticky Note13"
    },
    {
      "parameters": {
        "content": "# Trigger\n",
        "height": 260,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2496,
        880
      ],
      "id": "9651553e-20c8-473a-b0d0-8c1cab4d0c47",
      "name": "Sticky Note14",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Write to Drive & Sheets",
        "height": 240,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4128,
        1056
      ],
      "id": "83ff4893-0a5c-4d7f-8a37-3d1b638797a5",
      "name": "Sticky Note15"
    },
    {
      "parameters": {
        "content": "# Send Content",
        "height": 240,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4128,
        768
      ],
      "id": "0b2f430e-6d05-46f5-ab37-e55bb1998e76",
      "name": "Sticky Note16"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3376,
        1696
      ],
      "id": "b00df110-2490-4038-8e54-dbdd37720a5a",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "={{ $('When Executed by Another Workflow').item.json.imageTitle }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy",
          "mode": "list",
          "cachedResultName": "AI Image Generation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3680,
        1840
      ],
      "id": "489d7437-83ad-4c7e-9f58-d7d50ed6fa8a",
      "name": "Google Drive"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output.replace(/\"/g, '') }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3200,
        1696
      ],
      "id": "54a5e142-5166-4248-b657-c6c38362fcf9",
      "name": "Generate Image1"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        2832,
        1936
      ],
      "id": "d60425fc-dd9f-413c-9017-8b0a6ff89daf",
      "name": "GPT 4.",
      "credentials": {
        "openRouterApi": {
          "id": "Ep3ZUT0sgi8W8MOJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0",
          "mode": "list",
          "cachedResultName": "Marketing Team Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Request": "={{ $('When Executed by Another Workflow').item.json.imagePrompt }}",
            "ID": "={{ $json.id }}",
            "Link": "={{ $json.webViewLink }}",
            "Title": "={{ $('When Executed by Another Workflow').item.json.imageTitle }}",
            "Type": "Image"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request",
              "displayName": "Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3888,
        1840
      ],
      "id": "0477a775-349b-4465-b50f-ba6210c7beca",
      "name": "Image Log1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5hiM0ufyRmicUU2i",
          "name": "Google Sheets- Nabin"
        }
      }
    },
    {
      "parameters": {
        "content": "# Image Prompt\n",
        "height": 240,
        "width": 360,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2752,
        1616
      ],
      "id": "8d8c034f-2903-41b3-9dd6-6233647efc58",
      "name": "Sticky Note17"
    },
    {
      "parameters": {
        "content": "## Model",
        "height": 180,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2752,
        1872
      ],
      "id": "3613369e-4db1-4153-ace8-0b4c40866738",
      "name": "Sticky Note18"
    },
    {
      "parameters": {
        "content": "# Trigger\n",
        "height": 240,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2480,
        1616
      ],
      "id": "a558438c-6e5b-4f9d-a9af-c512e299b4a4",
      "name": "Sticky Note19",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Generate Image\n",
        "height": 240,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3136,
        1616
      ],
      "id": "aaeb68b1-b03f-4aa0-b1cc-5d0fbbee2249",
      "name": "Sticky Note20"
    },
    {
      "parameters": {
        "content": "# Send Content",
        "height": 240,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3568,
        1472
      ],
      "id": "a896dfe5-5a1e-4b03-a310-ed13128e3016",
      "name": "Sticky Note21"
    },
    {
      "parameters": {
        "content": "# Write to Drive & Sheets",
        "height": 240,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3568,
        1760
      ],
      "id": "2c00acfd-8d18-447f-8d51-63ebeb57884b",
      "name": "Sticky Note22"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3680,
        1552
      ],
      "id": "c2f44a4f-733c-47a5-a5a9-9c5d3a1e79ac",
      "name": "Send Photo1",
      "webhookId": "8fcbda9c-8396-41f7-8f2d-39e4ae4337c7"
    },
    {
      "parameters": {
        "name": "={{ $('When Executed by Another Workflow').item.json.image }} (Edited).png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy",
          "mode": "list",
          "cachedResultName": "AI Image Generation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3632,
        2560
      ],
      "id": "06e4781d-afe7-4946-a47f-21fee6188e2e",
      "name": "Upload Image"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.pictureID }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2848,
        2416
      ],
      "id": "7377d680-de64-4582-b3b2-a08dbe79ea8d",
      "name": "Download"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/edits",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "image",
              "inputDataFieldName": "data"
            },
            {
              "name": "prompt",
              "value": "={{ $('When Executed by Another Workflow').item.json.request.replace(/\"/g, '') }}"
            },
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3104,
        2416
      ],
      "id": "fafd4d92-e739-4890-880c-a25bf28065dc",
      "name": "Edit Image1"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        3328,
        2416
      ],
      "id": "cf07d186-8135-4d9a-a8a7-831b66b5a3ac",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0",
          "mode": "list",
          "cachedResultName": "Marketing Team Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Request": "={{ $('When Executed by Another Workflow').item.json.request }}",
            "ID": "={{ $json.id }}",
            "Link": "={{ $json.webViewLink }}",
            "Title": "={{ $('When Executed by Another Workflow').item.json.image }}",
            "Type": "Edit"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request",
              "displayName": "Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3872,
        2560
      ],
      "id": "66381e94-bf01-472d-b3bc-df540eb89f16",
      "name": "Image Log2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5hiM0ufyRmicUU2i",
          "name": "Google Sheets- Nabin"
        }
      }
    },
    {
      "parameters": {
        "content": "# Edit Image\n",
        "height": 260,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3024,
        2336
      ],
      "id": "38530264-56d6-4c85-a66c-c46a116d9c75",
      "name": "Sticky Note23"
    },
    {
      "parameters": {
        "content": "# Send Content",
        "height": 240,
        "width": 300,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3520,
        2208
      ],
      "id": "b7587acc-dbe1-4cfe-8493-ceedb0692c03",
      "name": "Sticky Note24"
    },
    {
      "parameters": {
        "content": "# Write to Drive & Sheets",
        "height": 240,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3520,
        2480
      ],
      "id": "2ba55aa3-2c80-43ec-b574-06dcffbb35b1",
      "name": "Sticky Note25"
    },
    {
      "parameters": {
        "content": "# Trigger\n",
        "height": 260,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2512,
        2336
      ],
      "id": "3d8234e0-6e5c-435a-b868-fd1faaeb0f79",
      "name": "Sticky Note26",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Download\n",
        "height": 260,
        "width": 220,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2784,
        2336
      ],
      "id": "06319158-b351-4db0-ad51-826197dc5ba6",
      "name": "Sticky Note27"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        3632,
        2288
      ],
      "id": "f9f21efb-3285-4da0-bab1-a36e0d26612d",
      "name": "Send Photo2",
      "webhookId": "85dc0064-e5c5-45a9-91a5-60e5b2bc4f1e"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Scene: {{ $('Get Images1').item.json.data.input.prompt }}",
        "options": {
          "systemMessage": "=# Overview\nYou are a Master Sound Prompt Generator.\nYour task is to create vivid, immersive sound prompts based on a given scene. These prompts will be used to generate background audio that matches the mood and environment of the scene.\n\n## Instructions\n- Generate a one- to two-sentence prompt that captures the ambiance, tone, and key sound elements.\n- Use rich, evocative language to describe the background atmosphere, highlighting specific sounds (e.g., footsteps on cobblestone, distant chatter, wind rustling leaves, faint music, industrial hum).\n- Focus on the background audio — not dialogue, narration, or foreground sound effects.\n- Match the emotion and setting of the scene, whether it's calm, chaotic, eerie, festive, or serene.\n- Avoid vague descriptions; be specific and sensory-driven to maximize immersion.\n- Never include quotation marks (\"\") or newlines (\\n) in the output.\n\n## Output\nReturn only the crafted sound prompt text, ready to be used for an audio generation model.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        6240,
        240
      ],
      "id": "563b9026-940e-4119-9acd-32aa770dc8ce",
      "name": "Sound Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.elevenlabs.io/v1/sound-generation",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.output.replace(/\"/g, '') }}"
            },
            {
              "name": "duration_seconds",
              "value": "5"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6608,
        240
      ],
      "id": "053c453b-6d2c-4ae3-878d-ae206e029a59",
      "name": "Generate Audio"
    },
    {
      "parameters": {
        "name": "={{ $('Get Videos1').item.json.id }}.mp3",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1hhZhHBv0zm3adye9LE_sxwme7z7yUXw5",
          "mode": "list",
          "cachedResultName": "Audio Files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1hhZhHBv0zm3adye9LE_sxwme7z7yUXw5"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6784,
        240
      ],
      "id": "4d3b1177-3803-4430-8e38-82d7ddd91ad7",
      "name": "Upload to Drive"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        6272,
        576
      ],
      "id": "0b0611f1-afa5-437e-9dfc-774e9f46c862",
      "name": "Merge"
    },
    {
      "parameters": {
        "amount": 25
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        6864,
        576
      ],
      "id": "3ad40d0e-1e87-4754-b54c-1eacd5296173",
      "name": "25 Seconds",
      "webhookId": "d5cd29e8-d3f7-491c-a6b6-2d705aa47931"
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "reader",
            "type": "anyone",
            "allowFileDiscovery": true
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6992,
        240
      ],
      "id": "e48af240-3094-46d4-a15a-924403f27d36",
      "name": "Share File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        5040,
        480
      ],
      "id": "8da9bf7b-7513-4be1-8cbb-94422fff885a",
      "name": "GPT 4.1 mini",
      "credentials": {
        "openRouterApi": {
          "id": "Ep3ZUT0sgi8W8MOJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"Part 1\": \"Prompt for part 1\",\n  \"Part 2\": \"Prompt for part 2\",\n  \"Part 3\": \"Prompt for part 3\",\n  \"Part 4\": \"Prompt for part 4\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        5248,
        480
      ],
      "id": "e8ec76dd-bab4-4494-9e53-7958125ad178",
      "name": "4 Parts"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        6480,
        336
      ],
      "id": "f700a090-b303-4950-9537-19bea3671ae7",
      "name": "GPT-4.1 mini",
      "credentials": {
        "openRouterApi": {
          "id": "Ep3ZUT0sgi8W8MOJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendVideo",
        "chatId": "={{ $('When Executed by Another Workflow').first().json.chatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6448,
        800
      ],
      "id": "f5d93d2f-b1b8-4383-9f23-ddc2ff7fde00",
      "name": "Send Video",
      "webhookId": "cdeb2987-d275-480b-8532-f69bbed64999"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "messages": {
          "values": [
            {
              "content": "=Video: {{ $('When Executed by Another Workflow').first().json.videoTopic }}"
            },
            {
              "content": "Create a 3-4 word title for the given video",
              "role": "system"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        6640,
        800
      ],
      "id": "2b9382c9-adc3-41e7-8566-b46702f4809d",
      "name": "Title",
      "credentials": {
        "openAiApi": {
          "id": "V0OoELb6G7wEUy2t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0",
          "mode": "list",
          "cachedResultName": "Marketing Team Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Title": "={{ $json.message.content }}",
            "Request": "={{ $('When Executed by Another Workflow').first().json.videoTopic }}",
            "Link": "={{ $('Download Video1').item.json.url }}",
            "Type": "Video"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request",
              "displayName": "Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        7008,
        800
      ],
      "id": "9e03c354-b7a2-4184-9cc1-c296ecbb0925",
      "name": "Log Video",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5hiM0ufyRmicUU2i",
          "name": "Google Sheets- Nabin"
        }
      }
    },
    {
      "parameters": {
        "amount": 90
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5808,
        240
      ],
      "id": "c6d87e02-3b93-4d25-801a-3eebb1695a71",
      "name": "90 Seconds",
      "webhookId": "ffdc5132-c0fe-44f6-af2b-4b3bb8894153"
    },
    {
      "parameters": {
        "amount": 90
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        5808,
        528
      ],
      "id": "4b7016a1-9eb1-4627-9a73-f4db27a635de",
      "name": "90_Seconds",
      "webhookId": "3ce99001-8f5a-4c0a-9b25-e3e261fcc778"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.piapi.ai/api/v1/task",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"model\": \"Qubico/flux1-dev\",\n    \"task_type\": \"txt2img\",\n    \"input\": {\n        \"prompt\": \"{{ $json.output.replace(/\"/g, '') }}\",\n        \"width\": 540, \n        \"height\": 960\n    } \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5632,
        240
      ],
      "id": "b7182046-8bf6-457b-8156-931011c91b2a",
      "name": "Generate Image2"
    },
    {
      "parameters": {
        "content": "# Generate Image Prompts",
        "height": 540,
        "width": 740,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4800,
        144
      ],
      "typeVersion": 1,
      "id": "b60a0080-201f-4427-a5aa-de91f7663d69",
      "name": "Sticky Note28",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Generate Images\n",
        "height": 260,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5568,
        144
      ],
      "typeVersion": 1,
      "id": "60a04ef4-6ff7-4f9c-9e32-175d6246121f",
      "name": "Sticky Note29"
    },
    {
      "parameters": {
        "content": "# Generate Audio\n\n",
        "height": 320,
        "width": 980,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6192,
        144
      ],
      "typeVersion": 1,
      "id": "802b2b2f-ab74-465a-bbaf-0083850e6b32",
      "name": "Sticky Note30"
    },
    {
      "parameters": {
        "content": "# Render & Log\n",
        "height": 500,
        "width": 1040
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        6192,
        480
      ],
      "typeVersion": 1,
      "id": "25222dd5-2bb8-4484-b7ba-db42f3058cfc",
      "name": "Sticky Note31"
    },
    {
      "parameters": {
        "content": "# Generate Videos\n",
        "height": 260,
        "width": 600,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5568,
        416
      ],
      "typeVersion": 1,
      "id": "b6cbcf54-5110-4930-bf67-587c72f41190",
      "name": "Sticky Note32"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Video Topic: {{ $json.videoTopic }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are a Master Visual Story Structuring Agent.\nYour task is to take a given short video topic and split it into four parts that together form a cohesive, vivid story, optimized for text-to-image generation.\n\n## Instructions:\n- You must create exactly four parts: Part 1, Part 2, Part 3, and Part 4.\n- Describe the subject of the story in the EXACT same way in all four parts. Each part should be consistent.\n- Each part should build upon the previous, creating a complete visual story by the end.\n- Every part must be written as a high-quality, richly detailed image prompt, following professional standards for models like Flux or similar.\n- Describe characters, settings, outfits, actions, and background elements vividly and precisely.\n- Use rich, imaginative language to maximize visual fidelity.\n- Avoid generic terms — always opt for specific and colorful descriptions.\n- No quotation marks (\"\") or newlines (\\n) should be included in the output.\n- Keep the description natural and seamless so it can be fed directly into a text-to-image model.\n\n## Key Elements to Include in Each Part:\n- Clear description of main subjects (appearance, outfits, facial expressions, poses)\n- Accessories or objects that add to the scene\n- A vivid background that matches the theme and enhances the overall story\n- Consistency and natural progression from part to part\n\n## Output Format:\nReturn your response structured into four fields:\n- Part 1: [Vivid image prompt for Part 1]\n- Part 2: [Vivid image prompt for Part 2]\n- Part 3: [Vivid image prompt for Part 3]\n- Part 4: [Vivid image prompt for Part 4]\n\nOnly output the fields listed above.\nMake sure the story across all four parts feels cohesive, visually rich, and cinematic."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        5040,
        304
      ],
      "id": "b1a6860e-db0a-4d07-ab8d-a96b6508eac8",
      "name": "Image Prompt Agent1"
    },
    {
      "parameters": {
        "toolDescription": "Use this tool to search the web. ",
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"{searchTerm}\",\n  \"topic\": \"general\",\n  \"search_depth\": \"advanced\",\n  \"chunks_per_source\": 3,\n  \"max_results\": 1,\n  \"time_range\": null,\n  \"days\": 7,\n  \"include_answer\": true,\n  \"include_raw_content\": false,\n  \"include_images\": false,\n  \"include_image_descriptions\": false,\n  \"include_domains\": [],\n  \"exclude_domains\": []\n}",
        "placeholderDefinitions": {
          "values": [
            {
              "name": "searchTerm",
              "description": "What the user is searching for. "
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1.1,
      "position": [
        5248,
        1728
      ],
      "id": "2590964a-4540-4593-b554-7bd8f6ccb32f",
      "name": "Tavily1"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        5392,
        1728
      ],
      "id": "27cec994-d70f-4a76-92cd-2b655a637f3e",
      "name": "GPT_4.",
      "credentials": {
        "openRouterApi": {
          "id": "Ep3ZUT0sgi8W8MOJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Blog Post: \n{{ $json.output }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent that transforms LinkedIn posts into visual prompt descriptions for generating graphic marketing materials. These visuals are designed to be paired with the post on LinkedIn, helping communicate the message in a visually engaging, brand-aligned way.\n\n## Objective:\n- Read and analyze the given LinkedIn post.\n- Identify the main message, insight, or takeaway from the post.\n- Create a clear and compelling graphic prompt that can be used with a text-to-image generator.\n- The result should be a marketing-style graphic — not a literal scene or hyperrealistic photo — that:\n1) Visually supports or illustrates the key idea of the post\n2) Looks appropriate for use in a professional LinkedIn feed\n3) Feels polished, modern, and engaging\n\n## Output Instructions:\n- Output only the final image prompt. Do not output quotation marks.\n- Do not repeat or rephrase the LinkedIn post.\n- Do not add any explanations or extra content — just the image prompt.\n- Never leave things blank like \"Header area reserved for customizable callout text\"\n- Output numeric stats when available in the original post\n\n## Style Guidelines:\n- Think like a brand designer or marketing creative.\n- Visuals may include: text, charts, icons, abstract shapes, overlays, modern illustrations, motion-like effects, bold typography elements (described, not rendered), or metaphorical concepts.\n- You can mention layout suggestions (e.g., \"split screen design,\" \"header with bold title and subtle background illustration\").\n- Assume the output will be generated using AI image tools — your prompt should guide those tools effectively.\n\n## Example Prompt Format:\nA modern flat-style graphic showing a human brain connected to mechanical gears, representing the fusion of AI and automation. Minimalist background, soft gradients, clean sans-serif text placement space at the top."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        5680,
        1440
      ],
      "id": "b1d58abe-58f8-4f46-97d1-858dae5be29d",
      "name": "Image Prompt Agent2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output.prompt.replace(/\"/g, '') }}"
            },
            {
              "name": "size",
              "value": "1024x1024"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6112,
        1440
      ],
      "id": "346fb275-407b-48f4-aa8e-e2d3b56f823d",
      "name": "Generate Image3"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        6320,
        1440
      ],
      "id": "768b8683-fdc9-4a79-a194-7f7fef84d744",
      "name": "Convert to Binary1"
    },
    {
      "parameters": {
        "content": "# Content Generation",
        "height": 260,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5168,
        1344
      ],
      "id": "79b6ef9a-43f4-43d2-8f60-07ca1dbe5472",
      "name": "Sticky Note33"
    },
    {
      "parameters": {
        "content": "# Generate Image\n",
        "height": 260,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6032,
        1344
      ],
      "id": "ab34f38f-6827-41de-b516-fbe4c8416026",
      "name": "Sticky Note34"
    },
    {
      "parameters": {
        "content": "# Image Prompt\n",
        "height": 260,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5568,
        1344
      ],
      "id": "2b8e811c-faa8-4185-9cea-87f92dfb3c22",
      "name": "Sticky Note35"
    },
    {
      "parameters": {
        "content": "## Tool & Model",
        "height": 240,
        "width": 380,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5168,
        1616
      ],
      "id": "2dbc79f2-d990-4e5b-8441-62de39c03c84",
      "name": "Sticky Note36"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Topic of Post: {{ $json.blogTopic }}\n\nTarget Audience: {{ $json.targetAudience }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an AI agent specialized in creating professional, educational, and engaging LinkedIn posts based on any topic provided by the user.\n\n## Objectives:\nAlways begin by conducting a real-time search using the Tavily tool to gather the most accurate, up-to-date information on the topic. The post should be written to appeal to the provided target audience.\n\nBased on your research, generate a well-structured LinkedIn post that:\n- Starts with an engaging hook\n- Professional in tone\n- Clear and easy to read\n- Educational and insightful\n- Light on emojis (use only when highly relevant and minimal)\n- Includes proper source attribution (e.g., “according to [source]”)\n- Contains relevant hashtags to improve visibility\n- Ends with a clear call to action (e.g., asking for thoughts, feedback, or shares)\n\n## Output Instructions:\n- Your ONLY output should be the final LinkedIn post text.\n- Do not include explanations, notes, or anything beyond the post itself.\n\n## Example Workflow:\n1) Receive a topic (e.g., “The ROI of warehouse automation”)\n2) Use Tavily to search and gather recent information or case studies\n3) Draft a LinkedIn post using that research\n4) Format it with source citations, clean structure, optional hashtags, and a call to action"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        5232,
        1440
      ],
      "id": "27a8a8b0-c9ad-47a2-bad6-4d3cc27145ab",
      "name": "Blog Post Agent1"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0",
          "mode": "list",
          "cachedResultName": "Marketing Team Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Request": "={{ $('When Executed by Another Workflow').item.json.postTopic }} for {{ $('When Executed by Another Workflow').item.json.targetAudience }}",
            "ID": "={{ $json.id }}",
            "Link": "={{ $json.webViewLink }}",
            "Post": "={{ $('Blog Post Agent1').item.json.output }}",
            "Title": "={{ $('When Executed by Another Workflow').item.json.postTopic }}",
            "Type": "Post"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Request",
              "displayName": "Request",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Link",
              "displayName": "Link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post",
              "displayName": "Post",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        6880,
        1600
      ],
      "id": "d184b47c-f0c9-4129-9dd2-50948745424d",
      "name": "Image Log3",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5hiM0ufyRmicUU2i",
          "name": "Google Sheets- Nabin"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"<2-4 word creative title for the image>\",\n  \"prompt\": \"<full detailed image generation prompt>\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        5776,
        1728
      ],
      "id": "6c6208f3-34a9-4074-b466-1bb9f829986e",
      "name": "Image & Title1"
    },
    {
      "parameters": {
        "content": "## Structured Output",
        "height": 240,
        "width": 320,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5648,
        1616
      ],
      "id": "2fede36f-bfbe-415e-8af1-e10365874265",
      "name": "Sticky Note37"
    },
    {
      "parameters": {
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "text": "={{ $('Blog Post Agent1').item.json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6880,
        1296
      ],
      "id": "7720554e-9f47-4e0d-b6e7-44ccd7ad857f",
      "name": "Send Blog1",
      "webhookId": "94fa70af-f2fc-4c05-8fa1-d9f55637485f"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6656,
        1296
      ],
      "id": "bdb6bda6-5a10-4eb6-9983-f9944368902d",
      "name": "Send Photo3",
      "webhookId": "8fcbda9c-8396-41f7-8f2d-39e4ae4337c7"
    },
    {
      "parameters": {
        "content": "# Trigger\n",
        "height": 260,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4896,
        1344
      ],
      "id": "571a932c-aae9-48e0-9752-d27128fd5967",
      "name": "Sticky Note38",
      "disabled": true
    },
    {
      "parameters": {
        "content": "# Write to Drive & Sheets",
        "height": 240,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6528,
        1520
      ],
      "id": "50c68985-a400-4610-a754-abf2155d93b4",
      "name": "Sticky Note39"
    },
    {
      "parameters": {
        "content": "# Send Content",
        "height": 240,
        "width": 540,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6528,
        1216
      ],
      "id": "41b3cb96-4240-41e8-a22a-6fd14490eaa8",
      "name": "Sticky Note40"
    },
    {
      "parameters": {
        "name": "={{ $('Image Prompt Agent2').item.json.output.title }}.png",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy",
          "mode": "list",
          "cachedResultName": "AI Image Generation",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1TgQu-5hlOzO1X28TMMzLxfhunhPSUIqy"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6656,
        1600
      ],
      "id": "99eb7499-1304-4e2c-b8a0-cb59d8a6995a",
      "name": "Upload1"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0",
          "mode": "list",
          "cachedResultName": "AI Images Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1JqOTd49heNBdmrf5hSwxI66X724tspAmSjzWoA6-EU0/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        5088,
        2608
      ],
      "id": "a064f77d-f243-48f7-b842-574ac1ff5e43",
      "name": "Image Database",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5hiM0ufyRmicUU2i",
          "name": "Google Sheets- Nabin"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Image: {{ $json.image }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an Image Retrieval Agent. When the user provides a query, your task is to search the \"Image Database\" using the keywords from the query. Locate the most relevant matching image.\n\n## Output\n- Return the name, ID, and the Link of the image\n- If no image is found, output \"Not Found\"\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        5088,
        2352
      ],
      "id": "75107d81-3953-46c2-8f86-c16f919f6fda",
      "name": "Image Search Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "44c36e1d-19e8-4411-bd3d-86c5144ecb14",
              "name": "response",
              "value": "Image wasn't found in the database",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5728,
        2096
      ],
      "id": "0b3a2d49-0dfd-4da8-9258-93a37b459982",
      "name": "Not Found"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a5a9fd85-2403-423e-92a2-d3ba20db83d9",
              "leftValue": "={{ $('When Executed by Another Workflow').first().json.intent }}",
              "rightValue": "Get",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5744,
        2352
      ],
      "id": "00d16cfa-674d-4457-9e9c-1ae4a4d38d8e",
      "name": "Get?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "85e307aa-0bb8-40f1-b62e-5b36c231b0af",
              "leftValue": "={{ $json.output.status }}",
              "rightValue": "Not Found",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5488,
        2352
      ],
      "id": "3ee71dea-44dd-4e60-bce3-5da26b8d7ffa",
      "name": "Not Found?"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.output.image_id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        6000,
        2352
      ],
      "id": "52d6161a-102a-4a05-b582-d78ab009baf1",
      "name": "Download File"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"image_name\":\"string | null\",\n  \"image_id\": \"string | null\",\n  \"image_link\": \"string | null\",\n  \"status\": \"found | not_found\"\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        5312,
        2608
      ],
      "id": "17fe6027-4bf1-4678-8b54-b2ede6c4e6cf",
      "name": "Name, ID, & Link"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "be32fa20-d1e6-4831-a266-5991e5c4eb1e",
              "name": "imageName",
              "value": "={{ $json.output.image_name }}",
              "type": "string"
            },
            {
              "id": "10b5ddb9-a482-46a7-962f-8e18533d90d5",
              "name": "imageID",
              "value": "={{ $json.output.image_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        5984,
        2592
      ],
      "id": "f462af5e-2164-44cb-b066-127b3511ae3e",
      "name": "Edit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        4960,
        2608
      ],
      "id": "5595562d-cf42-4244-adb7-81d83f33a9aa",
      "name": "GPT 4.1 mini1",
      "credentials": {
        "openRouterApi": {
          "id": "Ep3ZUT0sgi8W8MOJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "# Trigger\n",
        "height": 260,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4720,
        2272
      ],
      "id": "06cd645a-759c-471e-90f8-9d1840557266",
      "name": "Sticky Note41",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Tool & Model",
        "height": 200,
        "width": 280,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        4928,
        2560
      ],
      "id": "41f8ee88-5c31-4d30-9e7c-b95fa619709a",
      "name": "Sticky Note42"
    },
    {
      "parameters": {
        "content": "# Image Search\n",
        "height": 260,
        "width": 380,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5008,
        2272
      ],
      "id": "3132b148-0d9b-4f47-8f92-a9beb2aae31d",
      "name": "Sticky Note43"
    },
    {
      "parameters": {
        "content": "## Structured Output",
        "height": 200,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5232,
        2560
      ],
      "id": "4e43df1b-889f-4c70-bfc8-8dfa4e73161c",
      "name": "Sticky Note44"
    },
    {
      "parameters": {
        "content": "# Not Found?",
        "height": 260,
        "width": 260,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5408,
        2272
      ],
      "id": "68ca9792-ecbb-4853-819b-3560d7e3873d",
      "name": "Sticky Note45"
    },
    {
      "parameters": {
        "content": "",
        "height": 200,
        "width": 180,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5680,
        2048
      ],
      "id": "7bc3bc1b-7bbe-479d-bc44-3b114de2206b",
      "name": "Sticky Note46"
    },
    {
      "parameters": {
        "content": "# Get?",
        "height": 260,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5680,
        2272
      ],
      "id": "08ed8deb-b3cb-49a3-bfd9-7089483fc634",
      "name": "Sticky Note47"
    },
    {
      "parameters": {
        "content": "",
        "height": 200,
        "width": 180,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5952,
        2560
      ],
      "id": "7cf35184-c482-4630-98cc-462cd82d6a99",
      "name": "Sticky Note48"
    },
    {
      "parameters": {
        "content": "# Send Content",
        "height": 260,
        "width": 280,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        6192,
        2272
      ],
      "id": "ba32c16b-62e8-4c37-a273-7c81b630ac7b",
      "name": "Sticky Note49"
    },
    {
      "parameters": {
        "content": "# Download\n",
        "height": 260,
        "width": 220,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        5952,
        2272
      ],
      "id": "ed7bee75-9c6c-40ef-a488-6c68b96d3165",
      "name": "Sticky Note50"
    },
    {
      "parameters": {
        "operation": "sendPhoto",
        "chatId": "={{ $('When Executed by Another Workflow').item.json.chatID }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        6272,
        2352
      ],
      "id": "6ed5c770-8d3a-4110-bc8a-8502f6639504",
      "name": "Send Photo4",
      "webhookId": "85dc0064-e5c5-45a9-91a5-60e5b2bc4f1e"
    },
    {
      "parameters": {
        "content": "# Voice or Text",
        "height": 400,
        "width": 420,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2816,
        144
      ],
      "id": "9f646ed2-b315-4873-8f2a-fa705c1ab70c",
      "name": "Sticky Note51"
    },
    {
      "parameters": {
        "content": "# 📋 Setup Guide  \n**Author: [Nate Herk](https://www.youtube.com/@nateherk/videos)**\n---\n### ✅ First Steps\n1. **Import the following workflows** into your n8n environment:\n   - Video\n   - LinkedIn Post\n   - Blog Post\n   - Create Image\n   - Edit Image\n   - Search Images\n\n2. **Link all workflows** together appropriately.\n   - Make sure that the tools the Marketing Team Agent uses are correctly linked to these workflows.\n   - Rename workflows as needed to fit your naming system.\n---\n\n### 🔗 Credentials to Connect\n- **[Telegram Credential](https://telegram.org/)** (for outbound/inbound communication)\n- **[OpenRouter](https://openrouter.ai/) Credential** (for AI requests)\n- **[Tavily](https://tavily.com/) Credential** (for research inside LinkedIn Post and Blog Post workflows)\n---\n\n### 🔑 API Keys to Configure\nInside the **Video Workflow**:\n- **[PiAPI](https://piapi.ai/) API Key** (for video generation)\n- **[Runway](https://runwayml.com/) API Key** (for video processing)\n- **[ElevenLabs](https://elevenlabs.io/) API Key** (for voice generation)\n\nInside the **LinkedIn Post** and **Blog Post Workflows**:\n- **[Tavily](https://tavily.com/) API Key** (for research assistance)\n---\n\n### 📄 Templates to Download and Connect\n- **[Creatomate](https://creatomate.com/) Image Template**  \n  → Download from the Free Skool Community\n\n- **[Google Sheets Log Template](https://docs.google.com/spreadsheets/d/1wQxM9cAwewCigPH22KDidMu_i9j_dx4MHEa5rmJiw5I/edit?usp=sharing)**  \n  → Connect it to your n8n Google Sheets node to track content outputs.\n---\n\nMake sure all credentials, APIs, and templates are properly set before running the full system!\n",
        "height": 1000,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1856,
        144
      ],
      "id": "be601222-e2a6-4bf4-a5f2-a8733cbb34bb",
      "name": "Sticky Note52"
    },
    {
      "parameters": {
        "content": "# Content Generation",
        "height": 260,
        "width": 380
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2768,
        880
      ],
      "id": "cb9dc2cf-80d6-4957-aa2e-83a84525fa88",
      "name": "Sticky Note53"
    },
    {
      "parameters": {
        "content": "# Generate Image\n",
        "height": 260,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3632,
        880
      ],
      "id": "a382de7a-1feb-4bf9-bc31-830fcaf93756",
      "name": "Sticky Note54"
    },
    {
      "parameters": {
        "content": "# Image Prompt\n",
        "height": 260,
        "width": 440,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3168,
        880
      ],
      "id": "6b70aa37-86d6-4fc2-ab55-7aba60b93876",
      "name": "Sticky Note55"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.imagePrompt }}",
        "options": {
          "systemMessage": "=# Overview\nYou are an expert image prompt engineer. Your role is to take a simple image topic or concept and expand it into a fully detailed image prompt that can be fed into a text-to-image generation model.\n\n## Prompt Instructions\nYour detailed prompt must clearly describe the following:\n1) Main Subject: What is the primary focus of the image?\n2) Background/Setting: What is happening in the background or environment?\n3) Style: Specify the visual style (e.g., hyper-realistic, digital painting, watercolor, anime, 3D render, etc.).\n4) Mood/Lighting: Describe the emotional tone and lighting (e.g., soft warm sunset, moody storm clouds, futuristic neon lights).\n5) Additional Details: Mention any specific objects, clothing, colors, textures, or notable features that should appear.\n\n## Output Format\n- Begin with a clean, natural-sounding descriptive prompt that integrates all of the above elements seamlessly.\n- The description should sound like it’s written specifically for an AI to generate a professional, high-quality image.\n- Avoid repeating the original topic verbatim — instead, reframe it into a vivid scene or visual concept.\n- Use rich, vivid language and imagery.\n\n## Example\n- Input: \"A futuristic city\"\n- Output: \"A sprawling futuristic city at night, glowing with neon lights in shades of blue and purple. Towering skyscrapers with sleek, glass facades line the horizon. Flying cars zoom between the buildings under a cloudy, electric sky. The streets below are bustling with holographic advertisements and people wearing high-tech fashion. Digital painting style, highly detailed, cinematic perspective, moody atmosphere with soft neon reflections on wet pavement.\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        2816,
        1696
      ],
      "id": "98c646e9-48ff-429f-a18f-af8b0b886817",
      "name": "Image Prompt1"
    },
    {
      "parameters": {
        "url": "=https://api.piapi.ai/api/v1/task/{{ $json.data.task_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5984,
        240
      ],
      "id": "e6496dfb-1d3e-4781-b1c1-0ea4e68168db",
      "name": "Get Images1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.creatomate.com/v1/renders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer "
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"template_id\": \"e19f26a1-dfb6-4a0d-a3ba-d394e398b3c9\",\n  \"modifications\": {\n    \"Video-1.source\": \"{{ $json.urls[0].url }}\",\n    \"Video-2.source\": \"{{ $json.urls[1].url }}\",\n    \"Video-3.source\": \"{{ $json.urls[2].url }}\",\n    \"Video-4.source\": \"{{ $json.urls[3].url }}\",\n    \"Audio-1.source\": \"{{ $json.urls[0].webContentLink }}\",\n    \"Audio-2.source\": \"{{ $json.urls[1].webContentLink }}\",\n    \"Audio-3.source\": \"{{ $json.urls[2].webContentLink }}\",\n    \"Audio-4.source\": \"{{ $json.urls[3].webContentLink }}\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6672,
        576
      ],
      "id": "fdd6edf4-a9fd-46a7-afb6-f715ff0d50c4",
      "name": "Render Video1"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        6272,
        800
      ],
      "id": "05229eaa-f6cf-4dfe-973f-fcc20fdca2be",
      "name": "Download Video1"
    },
    {
      "parameters": {
        "url": "=https://api.dev.runwayml.com/v1/tasks/{{ $json.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Runway-Version",
              "value": "2024-11-06"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5984,
        528
      ],
      "id": "dd01bef6-c1e0-40cf-9440-dc78bb566bc2",
      "name": "Get Videos1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.dev.runwayml.com/v1/image_to_video",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Runway-Version",
              "value": "2024-11-06"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "promptImage",
              "value": "={{ $json.data.output.image_url }}"
            },
            {
              "name": "model",
              "value": "gen3a_turbo"
            },
            {
              "name": "ratio",
              "value": "768:1280"
            },
            {
              "name": "duration",
              "value": "5"
            },
            {
              "name": "promptText",
              "value": "={{ $json.data.input.prompt.replace(/\"/g, '') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        5648,
        528
      ],
      "id": "c63ba020-a94f-4717-85f3-16f84b2c8c2e",
      "name": "Generate Videos1"
    },
    {
      "parameters": {
        "jsCode": "// N8n Code Node to extract URLs from output arrays and combine them into a single array\n// This code assumes your input JSON is in items[0].json or is multiple items\n// Determine data source format\nlet inputArray;\nif (items.length === 1 && Array.isArray(items[0].json)) {\n  // If we have a single item containing our array\n  inputArray = items[0].json;\n} else if (items.length > 1) {\n  // If we already have multiple items, each containing part of our data\n  inputArray = items.map(item => item.json || item);\n} else {\n  throw new Error('Input structure not recognized. Please check your data format.');\n}\n// Create a single array to hold all URLs\nconst urlArray = [];\n// Process each item in the input array\nfor (const item of inputArray) {\n  // Get the data object\n  const data = item;\n  \n  // Check if the item has an output array\n  if (data.output && Array.isArray(data.output)) {\n    // For each URL in the output array, add to our URL array\n    for (const url of data.output) {\n      // Add URL along with metadata including the web content link\n      urlArray.push({\n        url: url,\n        sourceId: data.id,\n        createdAt: data.createdAt,\n        webContentLink: data.webContentLink || null // Add the web content link\n      });\n    }\n  }\n}\n// Return a single item containing the array of all URLs\nreturn [{\n  json: {\n    urls: urlArray\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        6464,
        576
      ],
      "id": "44a1d656-99a9-4905-a92f-0651e9397f2f",
      "name": "Split Out Parts1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "output",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        5360,
        304
      ],
      "id": "cce35050-f3f4-493a-903a-72d911f5bfa5",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Conduct comprehensive research for a video about:\n\nTOPIC: {{ $('Set').item.json.userIdea }}\n\nYour goal: Gather enough information to create a detailed, engaging video script. Make at least 10-15 Wikipedia searches exploring different aspects of this topic.\n\nBegin your research now using the Wikipedia tool.",
        "options": {
          "systemMessage": "You are an expert research assistant for video content creation. You have access to Wikipedia to conduct thorough research.\n\nYOUR RESEARCH PROCESS:\n1. Break down the user's topic into key research areas and subtopics\n2. Search Wikipedia multiple times (10-15+ searches) with different queries to gather comprehensive information\n3. For each search, extract: facts, statistics, expert insights, historical context, recent developments, examples, and controversies\n4. Build a complete picture by searching related topics, key figures, organizations, events, and concepts\n5. Organize all findings into a structured research brief\n\nSEARCH STRATEGY:\n- Start with the main topic, then search related subtopics\n- Search for: key people, organizations, events, technologies, concepts mentioned\n- Look for: history, current state, statistics, examples, debates, future trends\n- Be thorough - make at least 10-15 Wikipedia searches from different angles\n\nINFORMATION TO EXTRACT FROM EACH SEARCH:\n- Key facts and definitions\n- Important statistics and data\n- Historical background and evolution\n- Current state and recent developments  \n- Notable examples and case studies\n- Key people and organizations involved\n- Controversies or debates\n- Future outlook or trends\n- Related concepts that add depth\n\nOUTPUT STRUCTURE:\nAfter completing your research, organize findings into:\n\n**EXECUTIVE SUMMARY:**\n[2-3 sentences summarizing the topic]\n\n**MAIN THESIS/ANGLE FOR VIDEO:**\n[The compelling narrative or angle that would make an engaging video]\n\n**VIDEO HOOK:**\n[An attention-grabbing opening idea]\n\n**KEY POINTS FOR VIDEO:**\n1. [Point with supporting facts/data]\n2. [Point with supporting facts/data]\n3. [Point with supporting facts/data]\n... (5-8 key points total)\n\n**COMPELLING STATISTICS:**\n- [Statistic with context]\n- [Statistic with context]\n... (5-10 statistics)\n\n**EXPERT INSIGHTS/NOTABLE QUOTES:**\n- [Insight or perspective from notable figures]\n- [Insight or perspective]\n... (3-5 insights)\n\n**CASE STUDIES/EXAMPLES:**\n- [Real-world example 1]\n- [Real-world example 2]\n... (3-5 examples)\n\n**HISTORICAL CONTEXT:**\n[Brief background that provides context]\n\n**CURRENT STATE:**\n[What's happening now with this topic]\n\n**CONTROVERSIES/DEBATES:**\n- [Debate point 1 if any]\n- [Debate point 2 if any]\n\n**VISUAL CONTENT SUGGESTIONS:**\n- [Visual idea 1: e.g., timeline, infographic concept]\n- [Visual idea 2]\n... (5-7 visual ideas)\n\n**NARRATIVE STRUCTURE FOR VIDEO:**\n- Opening: [Suggested approach]\n- Middle: [Main content flow]\n- Conclusion: [Suggested closing]\n\n**SOURCES CONSULTED:**\n[List all Wikipedia pages searched]\n\nIMPORTANT REMINDERS:\n- Make MANY Wikipedia searches (10-15+) - don't stop after just 2-3\n- Search from multiple angles and related topics\n- Extract specific facts, not just general statements\n- Look for numbers, dates, names, places - concrete details\n- Consider what would be visually engaging\n- Think about storytelling - what makes this compelling?\n\nBegin your research now. Be thorough and make multiple searches."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -224,
        -816
      ],
      "id": "b8fa3b6d-31b0-412d-b694-12e26ceb9e47",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "jsCode": "// Get all incoming items\nconst items = $input.all();\n\n// Extract the text field from each item\nconst texts = items.map(item => item.json.title);\n\n// Concatenate them (adjust the separator as needed)\nconst concatenated = texts.join(\", \");\n\n// Return a single item with the concatenated text\nreturn [{ json: { mergedText: concatenated } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        -784
      ],
      "id": "3eb1306a-5163-4802-afbc-d70d453cdbb4",
      "name": "Sheet Process1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -992,
        -608
      ],
      "id": "b1dde50e-1c43-4b7e-b0e2-ac47290d31bc",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "V0OoELb6G7wEUy2t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Generate an idea for a new video to produce.\n\nHere are the ideas that we've already used: {{ $json.mergedText }}\n\nGive me one new, super viral idea, present it as 5-7 words:",
        "options": {
          "systemMessage": "=You're an expert in viral content creation with 5 years of experience.\n\nYou've created viral short videos that have gotten 10 billion views in total.\n\nYou specilize in short AI-generated videos with epic scenes, with well-known countries presidents and cultural things that the majority of people knows.\n\nExamples of videos that you did:\n- Countries as presidents bodybuilders💪🏻 (showing scenes how Donald Trump is working out with Arnold Schwarznegger, then how Putin works out with Arnold, then how French president and so on)\n- Countries as presidents rockstars🤘 (showing major presidents one by one on the scene as rock artists)\n- Countries as presidents Kaiju💀 (showing presidents as huge giants walking in water and showing their power)\n- And many more in the same style\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        -960,
        -784
      ],
      "id": "64276257-2e7a-4a33-adef-dbff86887d3b",
      "name": "Idea Generator1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d71f89dc-d06f-49d6-8ea0-f25a67ee9ca8",
              "name": "userIdea",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -608,
        -784
      ],
      "id": "87e6a2c3-b652-4a86-a72d-c05406bd0bb6",
      "name": "Set"
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -464,
        -512
      ],
      "id": "28065c78-fffb-4277-923b-c8ffe3a48cf5",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Ep3ZUT0sgi8W8MOJ",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const agentResponse = $input.first().json;\n\n// Extract the research content\nlet researchContent = '';\n\nif (agentResponse.output) {\n  researchContent = agentResponse.output;\n} else if (agentResponse.text) {\n  researchContent = agentResponse.text;\n} else if (agentResponse.content) {\n  researchContent = agentResponse.content;\n} else if (typeof agentResponse === 'string') {\n  researchContent = agentResponse;\n} else {\n  researchContent = JSON.stringify(agentResponse, null, 2);\n}\n\n// Parse sections if possible (simple text parsing)\nconst sections = {\n  executiveSummary: extractSection(researchContent, 'EXECUTIVE SUMMARY:', 'MAIN THESIS'),\n  mainThesis: extractSection(researchContent, 'MAIN THESIS/ANGLE FOR VIDEO:', 'VIDEO HOOK'),\n  videoHook: extractSection(researchContent, 'VIDEO HOOK:', 'KEY POINTS'),\n  keyPoints: extractSection(researchContent, 'KEY POINTS FOR VIDEO:', 'COMPELLING STATISTICS'),\n  statistics: extractSection(researchContent, 'COMPELLING STATISTICS:', 'EXPERT INSIGHTS'),\n  expertInsights: extractSection(researchContent, 'EXPERT INSIGHTS/NOTABLE QUOTES:', 'CASE STUDIES'),\n  caseStudies: extractSection(researchContent, 'CASE STUDIES/EXAMPLES:', 'HISTORICAL CONTEXT'),\n  historicalContext: extractSection(researchContent, 'HISTORICAL CONTEXT:', 'CURRENT STATE'),\n  currentState: extractSection(researchContent, 'CURRENT STATE:', 'CONTROVERSIES'),\n  controversies: extractSection(researchContent, 'CONTROVERSIES/DEBATES:', 'VISUAL CONTENT'),\n  visualSuggestions: extractSection(researchContent, 'VISUAL CONTENT SUGGESTIONS:', 'NARRATIVE STRUCTURE'),\n  narrativeStructure: extractSection(researchContent, 'NARRATIVE STRUCTURE FOR VIDEO:', 'SOURCES CONSULTED'),\n  sources: extractSection(researchContent, 'SOURCES CONSULTED:', null)\n};\n\nfunction extractSection(text, startMarker, endMarker) {\n  const startIndex = text.indexOf(startMarker);\n  if (startIndex === -1) return '';\n  \n  const contentStart = startIndex + startMarker.length;\n  let contentEnd = text.length;\n  \n  if (endMarker) {\n    const endIndex = text.indexOf(endMarker, contentStart);\n    if (endIndex !== -1) {\n      contentEnd = endIndex;\n    }\n  }\n  \n  return text.substring(contentStart, contentEnd).trim();\n}\n\n// Create structured output\nconst structuredResearch = {\n  metadata: {\n    originalIdea: $('Set').item.json.userIdea,\n    researchDate: new Date().toISOString(),\n    researchTool: 'Wikipedia',\n    status: 'completed'\n  },\n  \n  // Full text for reference\n  fullResearchText: researchContent,\n  \n  // Parsed sections\n  sections: sections,\n  \n  // Quick access fields\n  executiveSummary: sections.executiveSummary,\n  mainThesis: sections.mainThesis,\n  videoHook: sections.videoHook,\n  \n  // Ready for next step\n  readyForScriptGeneration: true\n};\n\nreturn [{ json: structuredResearch }];\n```\n\n---\n\n## Alternative: If Wikipedia Has Limitations\n\nIf Wikipedia doesn't have enough info or you need more current data, here are alternatives:\n\n### **Option A: Add SerpAPI (Google Search)**\n\nInstall via npm or use HTTP Request node:\n\n**HTTP Request Node Configuration:**\n```\nMethod: GET\nURL: https://serpapi.com/search\n\nQuery Parameters:\n- q: {{ $json.searchQuery }}\n- api_key: YOUR_SERPAPI_KEY\n- num: 10\n- engine: google\n```\n\nThen loop through results and fetch content.\n\n### **Option B: Use Brave Search API (Free Tier)**\n\n**HTTP Request Node:**\n```\nMethod: GET\nURL: https://api.search.brave.com/res/v1/web/search\n\nHeaders:\n- X-Subscription-Token: YOUR_BRAVE_API_KEY\n\nQuery Parameters:\n- q: {{ $json.searchQuery }}\n- count: 10\n```\n\n### **Option C: Add More n8n Tools**\n\nCheck if these tools are available in your n8n:\n- **Google Search** tool\n- **Serper** tool (Google Search API)\n- **Tavily Search** tool\n- **Exa Search** tool\n\n---\n\n## Enhanced Wikipedia Approach:\n\nIf you want to maximize Wikipedia research, update the system prompt to be more aggressive:\n\n### **Enhanced System Prompt for Wikipedia:**\n```\nYou are conducting DEEP research using Wikipedia. Your goal: make 15-20+ Wikipedia searches to build comprehensive knowledge.\n\nMANDATORY SEARCH PATTERN:\n1. Search the main topic\n2. Search each key person/organization mentioned\n3. Search each key concept/technology mentioned\n4. Search the history/background\n5. Search related fields and applications\n6. Search controversies and debates\n7. Search geographic regions if relevant\n8. Search timeline periods (past, present, future outlook)\n\nEXAMPLE: For \"Artificial Intelligence in Healthcare\"\n- Search: \"Artificial Intelligence\"\n- Search: \"Healthcare\"  \n- Search: \"Medical AI\"\n- Search: \"Machine Learning\"\n- Search: \"Deep Learning\"\n- Search: \"Neural Networks\"\n- Search: \"Medical Imaging\"\n- Search: \"Clinical Decision Support\"\n- Search: \"IBM Watson Health\"\n- Search: \"FDA Medical Devices\"\n- Search: \"Telemedicine\"\n- Search: \"Electronic Health Records\"\n- Search: \"Medical Ethics\"\n- Search: \"Algorithm Bias\"\n- Search: \"Digital Health\"\n... and more!\n\nDO NOT STOP until you've made at least 15 searches. Each search should explore a different angle or related concept.\n\n[Rest of the system prompt remains the same...]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -816
      ],
      "id": "ef5b7d10-ad2e-4268-8970-a56258662bb7",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        32,
        -480
      ],
      "id": "cc5bd06a-fa46-47c1-b829-fbfabce2b967",
      "name": "Wikipedia"
    }
  ],
  "pinData": {
    "Generate Images": [
      {
        "json": {
          "code": 200,
          "data": {
            "task_id": "8ef37ed8-2109-4735-80ce-c8fbc972bb98",
            "model": "Qubico/flux1-dev",
            "task_type": "txt2img",
            "status": "pending",
            "config": {
              "service_mode": "",
              "webhook_config": {
                "endpoint": "",
                "secret": ""
              }
            },
            "input": {
              "prompt": "Full-height shot of a man with an ultra steroid BODYBUILDER type body. His face reflects a mature American male in his mid-70s, characterized by a tall and imposing stature, a golden comb-over hairstyle, and sun-kissed, orange-tanned skin. His gaze is intense and assertive, framed by distinctive, bushy eyebrows. He wears a superhero suit with red, white, and blue colors, reminiscent of iconic heroes, with a bold eagle emblem on his chest. He is centered in the frame, power-walking straight toward the camera. The setting is a bustling metropolis under siege by alien invaders; the scene is chaotic with dramatic lighting casting long shadows, highlighting his heroic presence. The slightly low angle emphasizes his commanding power and larger-than-life stature, as he appears ready to save the Earth with unwavering determination.",
              "negative_prompt": "",
              "image": "",
              "width": 765,
              "height": 1360,
              "guidance_scale": 0,
              "denoise": 0,
              "seed": 0,
              "steps": 0,
              "batch_size": 0,
              "scale": 0,
              "return_preprocessed_image": false,
              "lora_settings": null,
              "custom_settings": null
            },
            "output": null,
            "meta": {
              "created_at": "2026-01-16T12:26:09.354148925Z",
              "started_at": "0001-01-01T00:00:00Z",
              "ended_at": "0001-01-01T00:00:00Z",
              "usage": {
                "type": "llm",
                "frozen": 0,
                "consume": 150000
              },
              "is_using_private_pool": false
            },
            "detail": null,
            "logs": [],
            "error": {
              "code": 0,
              "raw_message": "",
              "message": "",
              "detail": null
            }
          },
          "message": "success"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "code": 200,
          "data": {
            "task_id": "56d1041a-5dab-4b68-8a91-fa6c443a993f",
            "model": "Qubico/flux1-dev",
            "task_type": "txt2img",
            "status": "pending",
            "config": {
              "service_mode": "",
              "webhook_config": {
                "endpoint": "",
                "secret": ""
              }
            },
            "input": {
              "prompt": "Full-height shot of a man with an ultra steroid BODYBUILDER physique. His face is of a Caucasian male in his early 70s, with pale skin, piercing blue eyes, and a resolute expression. He has a strong jawline, a high forehead, and short, tidy light brown hair with hints of gray. His facial features are sharp, with a straight nose and thin lips that convey determination. He is clad in a sleek, metallic superhero suit that exudes strength and authority, colored in deep blues and silvers. The emblem on his chest represents unity and power, possibly resembling an eagle with widespread wings. He stands in front of a futuristic control room aboard a large spaceship orbiting Earth. The background features a vast display of the planet below, surrounded by the infinite blackness of space, dotted with stars. The room is equipped with high-tech screens and holographic displays, showcasing global maps and strategic data. He is walking toward the camera with confidence, ready to save the planet. Full body shot, slightly low angle to emphasize power and stature. The man is centered in the frame.",
              "negative_prompt": "",
              "image": "",
              "width": 765,
              "height": 1360,
              "guidance_scale": 0,
              "denoise": 0,
              "seed": 0,
              "steps": 0,
              "batch_size": 0,
              "scale": 0,
              "return_preprocessed_image": false,
              "lora_settings": null,
              "custom_settings": null
            },
            "output": null,
            "meta": {
              "created_at": "2026-01-16T12:26:09.08751657Z",
              "started_at": "0001-01-01T00:00:00Z",
              "ended_at": "0001-01-01T00:00:00Z",
              "usage": {
                "type": "llm",
                "frozen": 0,
                "consume": 150000
              },
              "is_using_private_pool": false
            },
            "detail": null,
            "logs": [],
            "error": {
              "code": 0,
              "raw_message": "",
              "message": "",
              "detail": null
            }
          },
          "message": "success"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "code": 200,
          "data": {
            "task_id": "cba8e708-b62f-4343-a0ea-665fd9295300",
            "model": "Qubico/flux1-dev",
            "task_type": "txt2img",
            "status": "pending",
            "config": {
              "service_mode": "",
              "webhook_config": {
                "endpoint": "",
                "secret": ""
              }
            },
            "input": {
              "prompt": "Full-height shot of a man with an ultra-steroid BODYBUILDER physique. His face has a distinctive, deeply tanned complexion, angular jawline, and expressive eyes that radiate both wisdom and determination. His silver-white hair is cropped short, complementing his groomed beard that follows the contours of his chin. He is wearing a superhero suit featuring deep saffron and white tones, adorned with intricate patterns reminiscent of traditional Indian textiles. A flowing red cape billows behind him, adding to the dynamic motion of his powerful stride. Emblazoned on his chest is a symbolic emblem that signifies peace and unity. The environment is a futuristic cityscape with towering skyscrapers and advanced technology, depicting a scene of global cooperation and harmony. He is centered in frame. Power walk straight toward the camera. Full body shot, slightly low angle to emphasize power and stature.",
              "negative_prompt": "",
              "image": "",
              "width": 765,
              "height": 1360,
              "guidance_scale": 0,
              "denoise": 0,
              "seed": 0,
              "steps": 0,
              "batch_size": 0,
              "scale": 0,
              "return_preprocessed_image": false,
              "lora_settings": null,
              "custom_settings": null
            },
            "output": null,
            "meta": {
              "created_at": "2026-01-16T12:26:09.208801817Z",
              "started_at": "0001-01-01T00:00:00Z",
              "ended_at": "0001-01-01T00:00:00Z",
              "usage": {
                "type": "llm",
                "frozen": 0,
                "consume": 150000
              },
              "is_using_private_pool": false
            },
            "detail": null,
            "logs": [],
            "error": {
              "code": 0,
              "raw_message": "",
              "message": "",
              "detail": null
            }
          },
          "message": "success"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "code": 200,
          "data": {
            "task_id": "4db38c03-0a55-4c2e-8729-e7e2a35d1efd",
            "model": "Qubico/flux1-dev",
            "task_type": "txt2img",
            "status": "pending",
            "config": {
              "service_mode": "",
              "webhook_config": {
                "endpoint": "",
                "secret": ""
              }
            },
            "input": {
              "prompt": "A man with a BODYBUILDER physique stands at the forefront, embodying an aura of confidence and power. His face is that of a European male in his mid-40s, with a fair skin tone and sharp, astute features. His eyes are a piercing shade of blue, reflecting intelligence and determination, while his eyebrows are finely arched. He has a slightly pointed nose and a narrow jawline that complement his chiseled facial structure. His hair is a deep brown, meticulously styled in a neat manner. He is dressed as a superhero, clad in a sleek, blue and gold suit that accentuates his muscular form. The suit bears an emblem on the chest, symbolizing unity and strength. He wears a flowing cape, rippling dramatically in the wind, enhancing his commanding presence. In his hand, he wields a futuristic staff emitting a radiant, protective energy. The background is an epic scene of Earth from space, with swirling clouds and vibrant blues and greens. Bright stars and celestial bodies frame the planet, highlighting the vastness of the universe. The composition conveys a sense of heroism and zeal, with the man in a powerful stride toward the camera, as if preparing to take on a universal challenge. Full body shot, slightly low angle to emphasize power and stature. He is centered in the frame, fully embodying his role as an epic protector.",
              "negative_prompt": "",
              "image": "",
              "width": 765,
              "height": 1360,
              "guidance_scale": 0,
              "denoise": 0,
              "seed": 0,
              "steps": 0,
              "batch_size": 0,
              "scale": 0,
              "return_preprocessed_image": false,
              "lora_settings": null,
              "custom_settings": null
            },
            "output": null,
            "meta": {
              "created_at": "2026-01-16T12:26:09.191547799Z",
              "started_at": "0001-01-01T00:00:00Z",
              "ended_at": "0001-01-01T00:00:00Z",
              "usage": {
                "type": "llm",
                "frozen": 0,
                "consume": 150000
              },
              "is_using_private_pool": false
            },
            "detail": null,
            "logs": [],
            "error": {
              "code": 0,
              "raw_message": "",
              "message": "",
              "detail": null
            }
          },
          "message": "success"
        },
        "pairedItem": {
          "item": 3
        }
      }
    ],
    "Get Images": [
      {
        "json": {
          "code": 200,
          "data": {
            "task_id": "8ef37ed8-2109-4735-80ce-c8fbc972bb98",
            "model": "Qubico/flux1-dev",
            "task_type": "txt2img",
            "status": "completed",
            "config": {
              "service_mode": "",
              "webhook_config": {
                "endpoint": "",
                "secret": ""
              }
            },
            "input": {
              "batch_size": 0,
              "custom_settings": null,
              "denoise": 0,
              "guidance_scale": 0,
              "height": 1360,
              "image": "",
              "lora_settings": null,
              "negative_prompt": "",
              "prompt": "Full-height shot of a man with an ultra steroid BODYBUILDER type body. His face reflects a mature American male in his mid-70s, characterized by a tall and imposing stature, a golden comb-over hairstyle, and sun-kissed, orange-tanned skin. His gaze is intense and assertive, framed by distinctive, bushy eyebrows. He wears a superhero suit with red, white, and blue colors, reminiscent of iconic heroes, with a bold eagle emblem on his chest. He is centered in the frame, power-walking straight toward the camera. The setting is a bustling metropolis under siege by alien invaders; the scene is chaotic with dramatic lighting casting long shadows, highlighting his heroic presence. The slightly low angle emphasizes his commanding power and larger-than-life stature, as he appears ready to save the Earth with unwavering determination.",
              "return_preprocessed_image": false,
              "scale": 0,
              "seed": 0,
              "steps": 0,
              "width": 765
            },
            "output": {
              "image_base64": "",
              "image_url": "https://img.theapi.app/temp/5c450871-9f07-4bc0-bbdc-5aa9286a65eb.png"
            },
            "meta": {
              "created_at": "2026-01-16T12:26:09.354148925Z",
              "started_at": "2026-01-16T12:26:09.799353303Z",
              "ended_at": "2026-01-16T12:26:53.714117273Z",
              "usage": {
                "type": "llm",
                "frozen": 0,
                "consume": 150000
              },
              "is_using_private_pool": false
            },
            "detail": null,
            "logs": [],
            "error": {
              "code": 0,
              "raw_message": "",
              "message": "",
              "detail": null
            }
          },
          "message": "success"
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "code": 200,
          "data": {
            "task_id": "56d1041a-5dab-4b68-8a91-fa6c443a993f",
            "model": "Qubico/flux1-dev",
            "task_type": "txt2img",
            "status": "completed",
            "config": {
              "service_mode": "",
              "webhook_config": {
                "endpoint": "",
                "secret": ""
              }
            },
            "input": {
              "batch_size": 0,
              "custom_settings": null,
              "denoise": 0,
              "guidance_scale": 0,
              "height": 1360,
              "image": "",
              "lora_settings": null,
              "negative_prompt": "",
              "prompt": "Full-height shot of a man with an ultra steroid BODYBUILDER physique. His face is of a Caucasian male in his early 70s, with pale skin, piercing blue eyes, and a resolute expression. He has a strong jawline, a high forehead, and short, tidy light brown hair with hints of gray. His facial features are sharp, with a straight nose and thin lips that convey determination. He is clad in a sleek, metallic superhero suit that exudes strength and authority, colored in deep blues and silvers. The emblem on his chest represents unity and power, possibly resembling an eagle with widespread wings. He stands in front of a futuristic control room aboard a large spaceship orbiting Earth. The background features a vast display of the planet below, surrounded by the infinite blackness of space, dotted with stars. The room is equipped with high-tech screens and holographic displays, showcasing global maps and strategic data. He is walking toward the camera with confidence, ready to save the planet. Full body shot, slightly low angle to emphasize power and stature. The man is centered in the frame.",
              "return_preprocessed_image": false,
              "scale": 0,
              "seed": 0,
              "steps": 0,
              "width": 765
            },
            "output": {
              "image_base64": "",
              "image_url": "https://img.theapi.app/temp/c06107cb-fa97-4359-a4de-6a9657ab4ad8.png"
            },
            "meta": {
              "created_at": "2026-01-16T12:26:09.08751657Z",
              "started_at": "2026-01-16T12:26:09.798773817Z",
              "ended_at": "2026-01-16T12:26:55.798098906Z",
              "usage": {
                "type": "llm",
                "frozen": 0,
                "consume": 150000
              },
              "is_using_private_pool": false
            },
            "detail": null,
            "logs": [],
            "error": {
              "code": 0,
              "raw_message": "",
              "message": "",
              "detail": null
            }
          },
          "message": "success"
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "code": 200,
          "data": {
            "task_id": "cba8e708-b62f-4343-a0ea-665fd9295300",
            "model": "Qubico/flux1-dev",
            "task_type": "txt2img",
            "status": "completed",
            "config": {
              "service_mode": "",
              "webhook_config": {
                "endpoint": "",
                "secret": ""
              }
            },
            "input": {
              "batch_size": 0,
              "custom_settings": null,
              "denoise": 0,
              "guidance_scale": 0,
              "height": 1360,
              "image": "",
              "lora_settings": null,
              "negative_prompt": "",
              "prompt": "Full-height shot of a man with an ultra-steroid BODYBUILDER physique. His face has a distinctive, deeply tanned complexion, angular jawline, and expressive eyes that radiate both wisdom and determination. His silver-white hair is cropped short, complementing his groomed beard that follows the contours of his chin. He is wearing a superhero suit featuring deep saffron and white tones, adorned with intricate patterns reminiscent of traditional Indian textiles. A flowing red cape billows behind him, adding to the dynamic motion of his powerful stride. Emblazoned on his chest is a symbolic emblem that signifies peace and unity. The environment is a futuristic cityscape with towering skyscrapers and advanced technology, depicting a scene of global cooperation and harmony. He is centered in frame. Power walk straight toward the camera. Full body shot, slightly low angle to emphasize power and stature.",
              "return_preprocessed_image": false,
              "scale": 0,
              "seed": 0,
              "steps": 0,
              "width": 765
            },
            "output": {
              "image_base64": "",
              "image_url": "https://img.theapi.app/temp/f0f92cad-d7b0-4d37-8021-4ab743340b9d.png"
            },
            "meta": {
              "created_at": "2026-01-16T12:26:09.208801817Z",
              "started_at": "2026-01-16T12:26:09.799197587Z",
              "ended_at": "2026-01-16T12:26:54.048241216Z",
              "usage": {
                "type": "llm",
                "frozen": 0,
                "consume": 150000
              },
              "is_using_private_pool": false
            },
            "detail": null,
            "logs": [],
            "error": {
              "code": 0,
              "raw_message": "",
              "message": "",
              "detail": null
            }
          },
          "message": "success"
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "code": 200,
          "data": {
            "task_id": "4db38c03-0a55-4c2e-8729-e7e2a35d1efd",
            "model": "Qubico/flux1-dev",
            "task_type": "txt2img",
            "status": "completed",
            "config": {
              "service_mode": "",
              "webhook_config": {
                "endpoint": "",
                "secret": ""
              }
            },
            "input": {
              "batch_size": 0,
              "custom_settings": null,
              "denoise": 0,
              "guidance_scale": 0,
              "height": 1360,
              "image": "",
              "lora_settings": null,
              "negative_prompt": "",
              "prompt": "A man with a BODYBUILDER physique stands at the forefront, embodying an aura of confidence and power. His face is that of a European male in his mid-40s, with a fair skin tone and sharp, astute features. His eyes are a piercing shade of blue, reflecting intelligence and determination, while his eyebrows are finely arched. He has a slightly pointed nose and a narrow jawline that complement his chiseled facial structure. His hair is a deep brown, meticulously styled in a neat manner. He is dressed as a superhero, clad in a sleek, blue and gold suit that accentuates his muscular form. The suit bears an emblem on the chest, symbolizing unity and strength. He wears a flowing cape, rippling dramatically in the wind, enhancing his commanding presence. In his hand, he wields a futuristic staff emitting a radiant, protective energy. The background is an epic scene of Earth from space, with swirling clouds and vibrant blues and greens. Bright stars and celestial bodies frame the planet, highlighting the vastness of the universe. The composition conveys a sense of heroism and zeal, with the man in a powerful stride toward the camera, as if preparing to take on a universal challenge. Full body shot, slightly low angle to emphasize power and stature. He is centered in the frame, fully embodying his role as an epic protector.",
              "return_preprocessed_image": false,
              "scale": 0,
              "seed": 0,
              "steps": 0,
              "width": 765
            },
            "output": {
              "image_base64": "",
              "image_url": "https://img.theapi.app/temp/9e6a354d-0e2f-496a-a864-716665f89e3e.png"
            },
            "meta": {
              "created_at": "2026-01-16T12:26:09.191547799Z",
              "started_at": "2026-01-16T12:26:09.799007591Z",
              "ended_at": "2026-01-16T12:26:57.13356804Z",
              "usage": {
                "type": "llm",
                "frozen": 0,
                "consume": 150000
              },
              "is_using_private_pool": false
            },
            "detail": null,
            "logs": [],
            "error": {
              "code": 0,
              "raw_message": "",
              "message": "",
              "detail": null
            }
          },
          "message": "success"
        },
        "pairedItem": {
          "item": 3
        }
      }
    ],
    "Video Prompt": [
      {
        "json": {
          "output": "Full-height video of a man with an ultra steroid BODYBUILDER type physique. His face is that of an American male in his mid-70s, tall, with a golden comb-over hairstyle, and orange-tanned skin. He has an intense gaze and bushy eyebrows. He wears a superhero suit in red, white, and blue with an eagle emblem on his chest. He is at the center, power-walking REALLY FAST toward the camera. The setting is a bustling city under alien invasion, with dramatic lighting casting shadows. The slightly low angle enhances his powerful stature as he seems ready to save the Earth with determination."
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "output": "Full-height video of a man with an ultra steroid BODYBUILDER physique. His face is Caucasian, early 70s, pale skin, piercing blue eyes, resolute expression, strong jawline, high forehead, short light brown hair with hints of gray. Clad in a sleek, metallic superhero suit with deep blues and silvers. An emblem resembling an eagle on his chest. He's in a futuristic control room aboard a spaceship orbiting Earth, with high-tech screens and holographic displays, global maps, and strategic data. He performs a power walk straight toward the camera. HE WALKS REALLY FAST. Full body shot, slightly low angle for emphasis."
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "output": "Video prompt: Full-height video of a man with an ultra-steroid BODYBUILDER physique. His face has a deeply tanned complexion, angular jawline, and expressive eyes filled with determination. His silver-white hair is cropped short, and his groomed beard follows his chin. He wears a superhero suit in deep saffron and white, adorned with intricate Indian textile patterns. A flowing red cape billows dynamically as he strides forward. Emblazoned on his chest is a symbol of peace and unity. He walks REALLY FAST through a futuristic cityscape of towering skyscrapers. Centered in frame, slightly low angle to emphasize power and stature."
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "output": "Full-height video of a man with a BODYBUILDER physique, exuding confidence and power, as he walks briskly. He has the face of a European male in his mid-40s, with fair skin and sharp features, piercing blue eyes, and neatly styled deep brown hair. Clad in a blue and gold superhero suit, he strides purposefully, representing unity and strength. HE WALKS REALLY FAST and carries a futuristic staff that radiates protective energy. The background shows Earth from space, surrounded by shimmering stars, conveying a sense of heroism. Slightly low-angle view, centered in the frame, enhancing his commanding presence."
        },
        "pairedItem": {
          "item": 3
        }
      }
    ],
    "Image Prompt": [
      {
        "json": {
          "output": "Full-height shot of a man with an ultra steroid BODYBUILDER type body. His face reflects a mature American male in his mid-70s, characterized by a tall and imposing stature, a golden comb-over hairstyle, and sun-kissed, orange-tanned skin. His gaze is intense and assertive, framed by distinctive, bushy eyebrows. He wears a superhero suit with red, white, and blue colors, reminiscent of iconic heroes, with a bold eagle emblem on his chest. He is centered in the frame, power-walking straight toward the camera. The setting is a bustling metropolis under siege by alien invaders; the scene is chaotic with dramatic lighting casting long shadows, highlighting his heroic presence. The slightly low angle emphasizes his commanding power and larger-than-life stature, as he appears ready to save the Earth with unwavering determination."
        },
        "pairedItem": {
          "item": 0
        }
      },
      {
        "json": {
          "output": "Full-height shot of a man with an ultra steroid BODYBUILDER physique. His face is of a Caucasian male in his early 70s, with pale skin, piercing blue eyes, and a resolute expression. He has a strong jawline, a high forehead, and short, tidy light brown hair with hints of gray. His facial features are sharp, with a straight nose and thin lips that convey determination. He is clad in a sleek, metallic superhero suit that exudes strength and authority, colored in deep blues and silvers. The emblem on his chest represents unity and power, possibly resembling an eagle with widespread wings. He stands in front of a futuristic control room aboard a large spaceship orbiting Earth. The background features a vast display of the planet below, surrounded by the infinite blackness of space, dotted with stars. The room is equipped with high-tech screens and holographic displays, showcasing global maps and strategic data. He is walking toward the camera with confidence, ready to save the planet. Full body shot, slightly low angle to emphasize power and stature. The man is centered in the frame."
        },
        "pairedItem": {
          "item": 1
        }
      },
      {
        "json": {
          "output": "Full-height shot of a man with an ultra-steroid BODYBUILDER physique. His face has a distinctive, deeply tanned complexion, angular jawline, and expressive eyes that radiate both wisdom and determination. His silver-white hair is cropped short, complementing his groomed beard that follows the contours of his chin. He is wearing a superhero suit featuring deep saffron and white tones, adorned with intricate patterns reminiscent of traditional Indian textiles. A flowing red cape billows behind him, adding to the dynamic motion of his powerful stride. Emblazoned on his chest is a symbolic emblem that signifies peace and unity. The environment is a futuristic cityscape with towering skyscrapers and advanced technology, depicting a scene of global cooperation and harmony. He is centered in frame. Power walk straight toward the camera. Full body shot, slightly low angle to emphasize power and stature."
        },
        "pairedItem": {
          "item": 2
        }
      },
      {
        "json": {
          "output": "A man with a BODYBUILDER physique stands at the forefront, embodying an aura of confidence and power. His face is that of a European male in his mid-40s, with a fair skin tone and sharp, astute features. His eyes are a piercing shade of blue, reflecting intelligence and determination, while his eyebrows are finely arched. He has a slightly pointed nose and a narrow jawline that complement his chiseled facial structure. His hair is a deep brown, meticulously styled in a neat manner. He is dressed as a superhero, clad in a sleek, blue and gold suit that accentuates his muscular form. The suit bears an emblem on the chest, symbolizing unity and strength. He wears a flowing cape, rippling dramatically in the wind, enhancing his commanding presence. In his hand, he wields a futuristic staff emitting a radiant, protective energy. The background is an epic scene of Earth from space, with swirling clouds and vibrant blues and greens. Bright stars and celestial bodies frame the planet, highlighting the vastness of the universe. The composition conveys a sense of heroism and zeal, with the man in a powerful stride toward the camera, as if preparing to take on a universal challenge. Full body shot, slightly low angle to emphasize power and stature. He is centered in the frame, fully embodying his role as an epic protector."
        },
        "pairedItem": {
          "item": 3
        }
      }
    ],
    "Idea Generator": [
      {
        "json": {
          "output": "Presidents as epic superheroes saving Earth🌎"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Idea Generator1": [
      {
        "json": {
          "output": "Presidents as epic superheroes saving Earth🌎"
        }
      }
    ],
    "AI Agent": [
      {
        "json": {
          "output": "Based on my comprehensive research, here is a detailed analysis for creating a video about \"Presidents as Epic Superheroes Saving Earth\":\n\n**EXECUTIVE SUMMARY:**\nA creative reimagining of U.S. presidents as superheroes, drawing parallels between their real historical achievements and superhero-like qualities. The concept merges documented presidential leadership moments with superhero narrative elements to create an engaging educational entertainment piece.\n\n**MAIN THESIS/ANGLE FOR VIDEO:**\n\"America's greatest presidents possessed superhero-like qualities that helped them face seemingly insurmountable challenges - from Washington's origin story to Lincoln's moral strength, these leaders demonstrated extraordinary abilities in times of crisis.\"\n\n**VIDEO HOOK:**\n\"What if America's greatest presidents weren't just leaders, but superheroes? Their real achievements rival any comic book story - from Washington's impossible victory against an empire to FDR's triumph over global tyranny.\"\n\n**KEY POINTS FOR VIDEO:**\n1. George Washington: \"The First Avenger\"\n- Military prowess shown at Valley Forge\n- Led outnumbered forces to victory\n- Refused to become a king (moral strength)\n\n2. Abraham Lincoln: \"The Union's Guardian\"\n- Preserved the nation during its darkest hour\n- Moral courage to fight slavery\n- Martyred while saving the country\n\n3. Theodore Roosevelt: \"The Progressive Powerhouse\"\n- Known as \"The Trust Buster\"\n- Conservation superhero (protected 230 million acres)\n- Real-life action hero personality\n\n4. FDR: \"The Crisis Commander\"\n- Led through Depression and WWII\n- Overcame personal disability\n- United nations against global threat\n\n5. JFK: \"The Space Race Champion\"\n- Launched moonshot vision\n- Faced down nuclear crisis\n- Inspired new frontier of human achievement\n\n**COMPELLING STATISTICS:**\n- Washington led 12,000 men through Valley Forge\n- Lincoln preserved union of 34 states during Civil War\n- TR protected 230 million acres of public land\n- FDR served unprecedented 12+ years during crisis\n- JFK mobilized 400,000 people for moon mission\n\n**EXPERT INSIGHTS/NOTABLE QUOTES:**\n- \"We choose to go to the moon\" - JFK\n- \"With malice toward none\" - Lincoln\n- \"Speak softly and carry a big stick\" - TR\n- \"The only thing we have to fear is fear itself\" - FDR\n- \"Cannot lead with timidity\" - Washington at Valley Forge\n\n**CASE STUDIES/EXAMPLES:**\n- Washington's leadership at Valley Forge\n- Lincoln during Gettysburg turning point\n- TR's charge up San Juan Hill\n- FDR's first 100 days and WWII leadership\n- JFK during Cuban Missile Crisis\n\n**HISTORICAL CONTEXT:**\nEach president faced existential threats to America:\n- Revolutionary War (Washington)\n- Civil War (Lincoln)\n- Industrial monopolies/corruption (TR)\n- Great Depression/WWII (FDR)\n- Cold War/Nuclear threat (JFK)\n\n**CURRENT STATE:**\nModern relevance through:\n- Leadership lessons for current challenges\n- Enduring impact of their achievements\n- Modern superhero genre popularity\n- Need for inspiring leadership examples\n\n**CONTROVERSIES/DEBATES:**\n- Balance between power and democracy\n- Executive authority limits\n- War powers decisions\n- Individual rights vs national needs\n- Historical accuracy vs dramatization\n\n**VISUAL CONTENT SUGGESTIONS:**\n1. Comic book style illustrations of key moments\n2. Split-screen comparisons: Real photo vs hero version\n3. Animated timeline of crisis moments\n4. Infographics showing scale of achievements\n5. Motion graphics of famous quotes\n6. Historical footage mixed with superhero effects\n7. Maps showing scope of their influence\n\n**NARRATIVE STRUCTURE FOR VIDEO:**\nOpening: \n- Dramatic montage comparing modern superhero scenes with presidential moments\n\nMiddle:\n- Individual president \"origin stories\"\n- Their \"superpower\" moments\n- Major \"battles\" they won\n- Legacy they left\n\nConclusion:\n- How their heroic leadership shaped America\n- Modern relevance of their examples\n\n**SOURCES CONSULTED:**\n- List of Presidents of the United States\n- Military career of George Washington\n- Abraham Lincoln presidency\n- Theodore Roosevelt achievements\n- FDR WWII leadership\n- JFK moon speech\n- Valley Forge historical records\n- Presidential rankings and legacy articles\n\nThis concept combines historical accuracy with engaging superhero storytelling techniques to create compelling educational content that resonates with modern audiences while teaching important historical lessons."
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Sheet Process1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        []
      ]
    },
    "Sheet Process": {
      "main": [
        [
          {
            "node": "Idea Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Idea Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Characters": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Video Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Idea Generator": {
      "main": [
        [
          {
            "node": "Set Characters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt": {
      "main": [
        [
          {
            "node": "Set Prompts 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Prompts 1": {
      "main": [
        [
          {
            "node": "Generate Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Images": {
      "main": [
        [
          {
            "node": "Wait 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1": {
      "main": [
        [
          {
            "node": "Get Images",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Images": {
      "main": [
        [
          {
            "node": "Video Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Videos": {
      "main": [
        [
          {
            "node": "Wait 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video Prompt": {
      "main": [
        [
          {
            "node": "Generate Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2": {
      "main": [
        [
          {
            "node": "Get Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Videos": {
      "main": [
        [
          {
            "node": "Split Out Parts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Parts": {
      "main": [
        [
          {
            "node": "Render Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Video": {
      "main": [
        [
          {
            "node": "Wait 3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 3": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        []
      ]
    },
    "Upload Video": {
      "main": [
        [
          {
            "node": "Add Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Record": {
      "main": [
        [
          {
            "node": "Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Create Image": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Search Images": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Blog Post": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "LinkedIn Post": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set 'Text'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set 'Text'": {
      "main": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Marketing Team Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Marketing Team Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tavily": {
      "ai_tool": [
        [
          {
            "node": "Blog Post Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT_4.1": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Post Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Image Prompt Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Agent": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Convert to Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Blog Post Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Post Agent": {
      "main": [
        [
          {
            "node": "Image Prompt Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary": {
      "main": [
        [
          {
            "node": "Send Photo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image & Title": {
      "ai_outputParser": [
        [
          {
            "node": "Image Prompt Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send Photo": {
      "main": [
        [
          {
            "node": "Send Blog",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload": {
      "main": [
        [
          {
            "node": "Image Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Photo1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Image Log1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.": {
      "ai_languageModel": [
        [
          {
            "node": "Image Prompt1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Upload Image": {
      "main": [
        [
          {
            "node": "Image Log2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "Edit Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Image1": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Send Photo2",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sound Agent": {
      "main": [
        [
          {
            "node": "Generate Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Audio": {
      "main": [
        [
          {
            "node": "Upload to Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Drive": {
      "main": [
        [
          {
            "node": "Share File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Split Out Parts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "25 Seconds": {
      "main": [
        [
          {
            "node": "Download Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Share File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "GPT 4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Image Prompt Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "4 Parts": {
      "ai_outputParser": [
        [
          {
            "node": "Image Prompt Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4.1 mini": {
      "ai_languageModel": [
        [
          {
            "node": "Sound Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Send Video": {
      "main": [
        [
          {
            "node": "Title",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Title": {
      "main": [
        [
          {
            "node": "Log Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "90 Seconds": {
      "main": [
        [
          {
            "node": "Get Images1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "90_Seconds": {
      "main": [
        [
          {
            "node": "Get Videos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image2": {
      "main": [
        [
          {
            "node": "90 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Agent1": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily1": {
      "ai_tool": [
        [
          {
            "node": "Blog Post Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GPT_4.": {
      "ai_languageModel": [
        [
          {
            "node": "Blog Post Agent1",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Image Prompt Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt Agent2": {
      "main": [
        [
          {
            "node": "Generate Image3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image3": {
      "main": [
        [
          {
            "node": "Convert to Binary1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Binary1": {
      "main": [
        [
          {
            "node": "Send Photo3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Blog Post Agent1": {
      "main": [
        [
          {
            "node": "Image Prompt Agent2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image & Title1": {
      "ai_outputParser": [
        [
          {
            "node": "Image Prompt Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Send Photo3": {
      "main": [
        [
          {
            "node": "Send Blog1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload1": {
      "main": [
        [
          {
            "node": "Image Log3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image Database": {
      "ai_tool": [
        [
          {
            "node": "Image Search Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Image Search Agent": {
      "main": [
        [
          {
            "node": "Not Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Not Found?": {
      "main": [
        [
          {
            "node": "Not Found",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get?": {
      "main": [
        [
          {
            "node": "Download File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File": {
      "main": [
        [
          {
            "node": "Send Photo4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Name, ID, & Link": {
      "ai_outputParser": [
        [
          {
            "node": "Image Search Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "GPT 4.1 mini1": {
      "ai_languageModel": [
        [
          {
            "node": "Image Search Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Image Prompt1": {
      "main": [
        [
          {
            "node": "Generate Image1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Images1": {
      "main": [
        [
          {
            "node": "Generate Videos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Render Video1": {
      "main": [
        [
          {
            "node": "25 Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video1": {
      "main": [
        [
          {
            "node": "Send Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Videos1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sound Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Videos1": {
      "main": [
        [
          {
            "node": "90_Seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Parts1": {
      "main": [
        [
          {
            "node": "Render Video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Generate Image2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheet Process1": {
      "main": [
        [
          {
            "node": "Idea Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Idea Generator1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Idea Generator1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "3e26442a-3e87-492b-898a-53dfe3cacc09",
  "meta": {
    "instanceId": "ecefede2b43cbe1a00e971b8041e14b8e420843726cd23fe9c92442a728c3cde"
  },
  "id": "lG15H0tIhAwqpVqj",
  "tags": []
}