workflow/Auto Posting on Social Media.json
{
  "name": "Auto Posting on Social Media",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -336,
        0
      ],
      "id": "5c13402c-b12c-4fd4-a784-8b590d35d6cb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=ROLE: You're an expert in automation, AI tools, and workflow optimization with 10 years of experience. You've built and shared automations that have helped businesses save millions of hours and scale efficiently.\n\nOBJECTIVE: Your goal is to prepare all the materials for my next short video. It should be extremely valuable and practical for my audience. I'm paying you ten thousand dollars for it.\n\nSCENARIO: I run an Instagram page about automation, AI tools, and productivity systems. My audience is founders, marketers, solopreneurs, operators, B2B and B2C business owners, and brands. My goal is to help them save time, reduce costs, and scale faster by using automations and modern tools. I do Instagram Reels. My content is about automation workflows and tools: for instance, use this automation to replace manual work, save hours per week, or run parts of your business on autopilot.\n\nEXPECTATION: Write a script for my next 30-second Instagram Reel. Make sure to have great: hook, retention, and reward at the end. Example output: \n5 Automations Founders Are Using in 2025. Stop doing this manually. AI Email Sorting – Automatically prioritize and respond to emails using AI agents. Be faster without inbox overload. Social Media Automation – Schedule, repurpose, and post content across platforms automatically. CRM Workflows – Instantly move leads, send follow-ups, and close deals without manual input. AI Research Assistants – Get summaries, insights, and reports in minutes, not hours. No-Code Integrations – Connect your tools once and let your systems run 24/7. Automation isn’t the future anymore – it’s the operating system of modern businesses. Ready to automate?\n\nOutput nothing except for the script. Plain text with no new lines. Begin:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        0
      ],
      "id": "bbe15f77-f26c-435b-aacf-f73314c95c7b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -160,
        256
      ],
      "id": "191df251-fe69-4b4e-b11e-e39bb83710ac",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "V0OoELb6G7wEUy2t",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.heygen.com/v1/video.webm",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "sk_V2_hgu_kmKeBwfaRTP_DRkWM60CylfHk4GeFB6EhDBqP83PJWiq"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"avatar_pose_id\": \"Annie_expressive12_public\",\n  \"avatar_style\": \"normal\",\n  \"input_text\": \"{{ $json.output }}\",\n  \"voice_id\": \"f1125a33ab4f4d068b4e9e8c4407cf82\",\n  \"dimension\": {\n    \"width\": 1280,\n    \"height\": 720\n  },\n  \"avatar_scale\": 0.3,\n  \"avatar_position\": \"bottom-center\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        576,
        0
      ],
      "id": "a32a87a5-4d2f-440e-95f1-bf7d6a7e5b4c",
      "name": "Generate Video"
    },
    {
      "parameters": {
        "url": "https://api.heygen.com/v1/video_status.get",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "video_id",
              "value": "={{ $json.data.video_id }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            },
            {
              "name": "x-api-key",
              "value": "sk_V2_hgu_kmKeBwfaRTP_DRkWM60CylfHk4GeFB6EhDBqP83PJWiq"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1152,
        0
      ],
      "id": "cc661e11-ecab-49c6-a066-d9f5939b7793",
      "name": "Download Video"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        880,
        0
      ],
      "id": "27a91fd9-f08e-42df-9690-e8e91b3cc17d",
      "name": "Wait",
      "webhookId": "04151fd5-adbe-48da-a772-baccd58c0678"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d372caf0-b0e6-426d-aec2-1460a60de1ff",
              "leftValue": "={{ $json.data.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1392,
        0
      ],
      "id": "748217a3-3aa3-4711-a7a9-a6c90e7aee82",
      "name": "If Video Generated"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Generate Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Video": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "If Video Generated",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Video Generated": {
      "main": [
        [],
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "2efbb51e-874a-42a3-bd7c-9cfd1a9d14fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ecefede2b43cbe1a00e971b8041e14b8e420843726cd23fe9c92442a728c3cde"
  },
  "id": "q6jWrdBvTC6Efywp",
  "tags": []
}